.djs-index {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  background-color: #1e1e1e;
  border-bottom: 1px solid #575757;
  // .hide {
  //   color: #ff0;
  // }
}

.djs-nav-container {
  background-color: #ff0;
  #logo {
    filter: invert(1);
  }
}

.djs-nav {
    width: 952px;
    height: 215px;
    margin: 0 auto;
    color: black;
  nav {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    #links {
      height: 22px;
      position: relative;
      left: unset;
      li:first-of-type {
        background-color: white;
        border-color:  white;
      }
      li:nth-of-type(3) {
        border-color: #b4bd02;
      }
      li:nth-of-type(3):hover {
        background-color: #b4bd02;
      }
    }
    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      left: -4px;
    }
    #logo:hover {
      filter: none;
    }
  }

  #djshow-header {
    line-height: 3em;
    a {
      color: white;
    }
  }
  h1 {
    font-size: 64px;
    width: 952px;
    margin: 0 auto;
    line-height: 2.2em;
  }
}

.djshow-nav-container {
  height: 575px;
  background-color: #ff0;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .djs-nav {
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    h1 {
      line-height: unset;
    }
  
    #links {
      li:first-of-type {
        background-color: unset;
        border-color: #ff0;
      }
      li:first-of-type:hover {
        background-color: #ff0;
      }
    }
    #logo {
      filter: none;
    }
    #logo:hover {
      filter: invert(1);
    }
  }
}

#black, #dimitri  {
  font-size: 15px;
}




.djs-subnav-container {
  background-color: #ff0;
  border-top: 1px solid rgba(255,255,255,.4);
  border-top-color: rgba(69,69,69,.4);
}

.djs-subnav {
  height: 40px;
  width: 952px;
  margin: 0 auto;
  position: relative;
  color: black;
  ul {
    width: 952px;
    margin: 0 auto;
  }
  li {
    height: 40px;
    float: left;
    border-left: 1px solid rgba(69,69,69,.4);
    a {
     display: block;
     padding: 10px 14px;
     line-height: 19px;
    }
  }
   li:last-child {
    border-right: 1px solid rgba(69,69,69,.4);
    small {
      color: #ff0;
      font-size: 8px;
      position: relative;
      top: -7px;
      float: right;
    }
  }
  li:last-child:hover {
    small {
      color: white;
    }
  }
  li:hover, .form:hover {
    background-color: black;
    color: white;
  }
}



.djs-container {
  position: relative;
}

.djs {
  position: relative;
  top: 35px;
  // width: 952px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
}

.dj-sort {
  // width: 152px;
  width: 188px;
  min-height: 320px;
  #first-char {
    font-size: 64px;
    color: white;
  }
  .djlist {
    .djlist-item {
      color: #ff0;
      white-space: nowrap;
      a:hover {
        background-color: #ff0;
        color: #1f1f1f;
      }
    }
  }
}




// DJ Show Pages

#aboveandbeyond-container {
  background-position-y: -66px;
}

#ambassador21-container {
  background-position-y: -45px;
}
#aphextwin-container {
  .djs-nav {
    color: black;
    #djshow-header a, nav #logo {
      filter: invert(1);
    }
  }
}

#blacktigersexmachine-container {
  background-position-y: 0px;
}
#bloodybeetroots-container {
  background-position-y: 0px;
}
#calvinharris-container {
  background-position-y: -95px;
}
#carlcox-container {
  background-position-y: 0px;
}
#colleend\'agostino-container {
  background-position-y: -20px;
}
#crystalcastles-container {
  background-position-y: -34px;
  background-position-x: 864px;
  background-repeat: repeat;
}
#daftpunk-container {
  // background-position-y: -65px;
}
#diplo-container {
  background-position-y: 0px;
  background-position-x: 200px;
  background-repeat: repeat;
}
#dirtyphonics-container {
  background-position-y: -14px;
}

#fearoftigers-container {
  .djs-nav {
    color: black;
    #djshow-header a, nav #logo {
      filter: invert(1);
    }
  }
}
#gammer-container {
  background-position-y: 0px;
}
#heyz-container {
  background-position-y: -20px;
  .djs-nav {
    #links {
      color: black;
    }
    #logo {
      filter: invert(1);
    }
  }
}
#infectedmushroom-container {
  background-position-y: -30px;
}
#justice-container {
  background-position-y: -45px;
}
#kayzo-container {
  background-position-y: -116px;
}
#killthenoise-container {
  background-position-y: -40px;
}
#knifeparty-container {
  background-position-y: -90px;
}
#kygo-container {
  background-position-y: -60px;
}
#lnytnz-container {
  background-position-y: -30px;
}
#markusschulz-container {
  background-position-y: -30px;
}
#martingarrix-container {
  background-position-y: -65px;
}
#martinezbrothers-container {
  background-position-y: 0px;
}
#masterbootrecord-container {
  background-position-y: -140px;
  .djs-nav {
    color: #a6a6a6;
    #djshow-header a, nav #logo {
      filter: contrast(0.5);
    }
  }
}
#nero-container {
  background-position-y: -40px;
}
#noisufx-container {
  // background-position-y: -150px;
}
#noraenpure-container {
  background-position-y: -85px;
}
#prettylights-container {
  background-position-y: 0px;
}
#quintino-container {
  background-position-y: -200px;
}
#rabbitjunk-container {
  background-position-y: 0px;
}
#rezz-container {
  background-position-y: -30px;
}
#savoy-container {
  background-position-y: 0px;
}
#sevenlions-container {
  background-position-y: -10px;
}
#skrillex-container {
  background-position-y: -40px;
}
#stonebank-container {
  background-color: #1c2426;
}
#underworld-container {
  background-position-y: 0px;
}
#virtualself-container {
  background-position-y: -100px;
  .djs-nav {
    color: black;
    #djshow-header a, nav #logo {
      filter: invert(1);
    }
  }
}
#vitalic-container {
  background-position-y: -65px;
}
#warface-container {
  background-position-y: -40px;
}
#yellowclaw-container {
  background-position-y: 0px;
}
#zedd-container {
  background-position-y: -50px;
}
#zedsdead-container {
  background-position-y: 0px;
}
#zomboy-container {
  // background-position-y: -60px;
}



.djsubheader-container {
  background-color: #3c3c3c;
  .djshow-subheader {
    
    width: 952px;
    margin: 0 auto;
    .details {
      display: flex;
      li {
          text-align: left;
          font-weight: normal;
          color: #fdff00;
          font-size: 16px;
          padding: 16px 0;
          margin-right: 180px;
        small {
          color: #b4b4b4;
          font-size: 12px;
        }
      }
    }
  }
}

#genre-link {
  margin-right: 10px;
}
#genre-link:hover {
 color: black;
 background-color:  #fdff00;
}


.dj-main {
  background-color: #1e1e1e;
  color: white;
  padding-bottom: 70px;
  .bio-container {
    width: 952px;
    margin: 0 auto;
    padding: 50px 0;
    h1 {
      font-size: 24px;
    }
    hr {
      border-color: #fdff00;
    }
  }
}

.playlist {
  width: 952px;
  margin: 0 auto;
  h1 {
    font-size: 24px;
  }
  hr {
    border-color: #fdff00;
  }
  #song-title {
    color: #fdff00;
    font-size: 15px;
    font-weight: 100;
  }
  .songs {
    width:960px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    .song {
      margin: 5px;
      padding: 5px;
      hr {
        border-color: #585858;
      }
    }
    .song:hover {
      background-color: #3d3d3d;
    }
  }
  audio {
    height: 36px;
  }
}

// Smaller

@media only screen and (max-width: 972px) {
  .djs-nav {
    width: 675px;
    height: 128px;
    nav {
      width: 675px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links li {
        width: 75px;
      }
    }
    h1 {
      width: 675px;
      // line-height: 3em;
      line-height: 0.7em;
      font-size: 48px;
    }
  }
  .djs-subnav-container {
    border-top: unset;
   .subnav-drop {
      .reveal {
      background-color: #fdff00;
    }
  }
  }
  .djs-subnav {
    display: none;
    width: 675px;
    ul {
      width: 675px;
    }
  }
  .djs {
    width: 675px;
  }
  .dj-sort {
    width: 168px;
  }
  #dj-name {
    width: fit-content;
  }
  #black, #dimitri {
    font-size: 14px;
  }

  .djshow-nav-container {
    // height: 475px;
    height: 340px;
    // background-position-y: center !important;
    .djs-nav {
      // height: 454px;
      height: 330px;
      #djshow-header {
        width: 675px;
        line-height: unset;
      }
    }
  }

  .djsubheader-container {
    .djshow-subheader {
      width: 675px;
      .details {
        white-space: nowrap;
      }
    }
  }
  .dj-main {
    .bio-container {
      width: 675px;
    }
    .playlist {
      width: 675px;
      .songs {
        width: 675px;
      }
    }
  }
}


@media only screen and (max-width: 700px) {
  .djs-nav {
    width: 560px;
    nav {
      width: 560px;
    }
    h1 {
      width: 560px;
    }
  }
  .djs-subnav {
    width: 560px;
    ul {
      width: 560px;
    }
  }
  .djs {
    width: 560px;
  }
  .dj-sort {
    width: 140px;
  }
  .dj {
    font-size: 13px;
  }
  #black, #dimitri {
    font-size: 12px;
  }

  .djshow-nav-container {
    height: 435px;
    .djs-nav {
       height: 420px;
      #djshow-header {
         width: 560px;
      }
    }
  }

  // #dj-show .djs-subnav #pending small {
  //   left: 65px;
  // }
  #dj-show {
    .form {
      font-size: 11px;
    }
  }

  .djsubheader-container {
    .djshow-subheader {
       width: 560px;
      .details {
        white-space: nowrap;
      }
    }
  }
  .dj-main {
    .bio-container {
       width: 560px;
    }
    .playlist {
      width: 560px;
      #song-title {
        font-size: 13px;
      }
      .songs {
         width: 560px;
         .song {
           width: 245px;
         }
      }
      audio {
        width: 235px;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .djs-nav {
    width: 490px;
    nav {
      width: 490px;
    }
    h1 {
      width: 490px;
    }
  }
  .djs-subnav {
    width: 490px;
    ul {
      width: 490px;
    }
  }
  .djs {
    width: 490px;
  }
  .dj-sort {
    width: 160px;
  }
  .dj {
    font-size: 15px;
  }
  #black, #dimitri {
    font-size: 13px;
  }

  .djshow-nav-container {
    height: 400px;
    .djs-nav {
       height: 380px;
      #djshow-header {
        width: 490px;
      }
    }
  }

  #dj-show {
    .djs-subnav {
      font-size: 12px;
    }
  }

  .djsubheader-container {
    .djshow-subheader {
       width: 490px;
      .details {
        white-space: nowrap;
        li {
          margin-right: 80px;
        }
      }
    }
  }
  .dj-main {
    .bio-container {
       width: 490px;
    }
    .playlist {
      width: 490px;
      .songs {
         width: 490px;
         .song {
           width: 220px;
         }
      }
      audio {
        width: 220px;
      }
    }
  }
}

// Larger

@media only screen and (min-width: 1300px){
  .djs-nav {
    width: 1272px;
    nav {
      width: 1272px;
      #links {
        left: -147px;
      }
    }
    h1 {
      width: 1272px;
    }
  }
  .djs-subnav {
    width: 1272px;
    ul {
      width: 1272px;
    }
  }
  .djs {
    width: 1272px;
  }
  .dj-sort {
    margin-right: 22px;
  }

  .eventshow-header, #djshow-header {
    width: 1272px;
  }
  .djsubheader-container {
    .djshow-subheader {
      width: 1272px !important;
    }
  }
  .dj-main {
    .bio-container, .playlist {
      width: 1272px !important;
      .songs {
        width: 1272px;
        justify-content: space-between;
      }
    }
  }
}