.djs-index {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  background-color: #1e1e1e;
  .hide {
    color: #ff0;
  }
}

.djs-nav-container {
  background-color: #ff0;
}

.djs-nav {
  width: 952px;
  height: 215px;
  margin: 0 auto;
  color: black;
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    #links {
      height: 30px;
      position: relative;
      left: unset;
      li:nth-of-type(3) {
        border-color: #ecec06;
      }
      li:nth-of-type(3):hover {
        background-color: #ecec06;
      }
    }
    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      filter: invert(1);
      :hover {
        filter: none;
      }
    }
  }
  h1 {
    font-size: 64px;
    width: 952px;
    margin: 0 auto;
    line-height: 2em;
  }
}

.djs-subnav-container {
  background-color: #ff0;
  border-top: 1px solid rgba(255,255,255,.4);
  border-top-color: rgba(69,69,69,.4);
}

.djs-subnav {
  height: 40px;
  width: 952px;
  margin: 0 auto;
  position: relative;
  color: black;
  ul {
    width: 952px;
    margin: 0 auto;
  }
  li {
    height: 40px;
    float: left;
    border-left: 1px solid rgba(69,69,69,.4);
    a {
     display: block;
     padding: 10px 14px;
     line-height: 19px;
    }
  }
   li:last-child {
    border-right: 1px solid rgba(69,69,69,.4);
  }
}

.djs-container {
  position: relative;
}

.djs {
  position: relative;
  top: 35px;
  // width: 952px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
}

.dj-sort {
  // width: 152px;
  width: 188px;
  min-height: 320px;
  #first-char {
    font-size: 64px;
    color: white;
  }
  .djlist {
    .djlist-item {
      color: #ff0;
      white-space: nowrap;
      a:hover {
        background-color: #ff0;
        color: #1f1f1f;
      }
    }
  }
}