
.events-index {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  font-size: 16px;
  background-color: #fff;
.hide {
  color: #6b96c2;
}
  .events-nav-container {
    background-color: #6b96c2;
  }

  .events-nav {
    color: white;
    position: relative;
    background-color: #6b96c2;
    width: 960px;
    height: 215px;
    margin: 0 auto;

    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      filter: none;
      :hover {
        filter: none;
      }
    }

    #links {
      left: 330px;
      color: white;
      :hover {
       color: #2e2e2e;
      }
      li:nth-of-type(2) {
        color: #2e2e2e;
        background-color: #fff;
      }
    }

    h1 {
      letter-spacing: -2px;
      line-height: 2em;
      font-size: 64px;
      margin: 0 auto;
      width: 960px;
      font-weight: normal;
    } 
  }

  .subnav-container {
    background-color: #6a96c2;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  #events-subnav {
    height: 40px;
    width: 956px;
    margin: 0 auto;
    position: relative;
    color: white;

    ul {
      width: 952px;
      margin: 0 auto;
    }

    li {
      float: left;
      border-left: 1px solid rgba(255,255,255,.4);
    }

    li:last-child {
      border-right: 1px solid rgba(255,255,255,.4);
    }
    
    //  .on a {
    //   color: #000 !important;
    //   // background-color: #fff;
    //   background-color: #000;
    //   }

    a {
      display: block;
      color: #fff;
      padding: 10px 14px;
      line-height: 19px;
      
    }

    .form {
      color: black;
      background-color:  #fff;
    }
  }

  .top-events {
    position: relative;
    // left: 164px;
    padding: 20px 0;
    background-color: #f0f0f0;

    #content-title {
      position: relative;
      width: 952px;
      margin: 0 auto;
      padding-bottom: 2px;
      margin-bottom: 20px;
      border-bottom: 2px solid  #6b96c2;
    }

    .eventlist {
      position: relative;
      width: 952px;
      margin: 0 auto;
      white-space: nowrap;
      
      .event {
        white-space: normal;
        max-width: 1057px;
        font-size: 14px;
       
        #event-name {
          text-decoration: underline;
          font-size: 18px;
        }
        #event-date {

        }
        #venue {

        }
        #headliners {

        }
        #description {
          font-size: 12px;
        }
        #event-img {
          width: 50px;
        }
      }

    }

  }

}

.eventshow-header {
  margin: 0 auto;
  width: 952px;
  #prev {
    position: relative;
    top: 2px;
    width: 16px;
  }
  a:hover {
    filter: invert(1);
  }
  h2 {
    font-size: 72px;
    letter-spacing: -2px;
  }
}

.subheader-container {
  width: 100%;
  .eventshow-subheader {
    width: 952px;
    margin: 0 auto;
    .details {
      width: 625px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      li {
        color: #b4b4b4;
        font-size: 12px;
        h3 {
          position: relative;
          top: -10px;
          color: #6b96c2;
          font-size: 16px;
          font-weight: normal;
          height: 0;
          text-align: left;
        }
        h4 {
          position: relative;
          top: -16px;
          color: black;
          font-size: 16px;
          font-weight: normal;
          height: 0;
        }
      }
    }
  }
}

.main-container {
  width: 100%;
  background-color: #f0f0f0;
  .eventshow-main {
    width: 952px;
    margin: 0 auto;
    #headliners {
      color: black;
      font-size: 36px;
      small {
        color: #b4b4b4;
        font-size: 12px;
      }
    }
    #description {
      margin-top: 24px;
    }
    #event-image {
      max-width: 800px;
    }
  }
}