
.events-index {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #575757;
  .hide {
    color: #6b96c2;
  }
  .events-nav-container {
    background-color: #6b96c2;
  }

  .events-nav {
    color: white;
    position: relative;
    background-color: #6b96c2;
    width: 960px;
    height: 215px;
    margin: 0 auto;
    nav {
      display: flex;
      justify-content: space-between;
      width: 960px;
      margin: 0 auto;
    }
    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      filter: unset;
    }
    #logo:hover {
        filter: invert(1);
    }

    #links {
      height: 22px;
      position: relative;
      left: unset;
      :hover {
       color: #2e2e2e;
      }
      li:nth-of-type(2) {
        color: #2e2e2e;
        background-color: white;
        border-color: white;
      }
    }

    h1 {
      letter-spacing: -2px;
      line-height: 2em;
      font-size: 64px;
      margin: 0 auto;
      width: 960px;
      font-weight: normal;
    } 
  }

  .subnav-container {
    background-color: #6a96c2;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  #events-subnav {
    height: 40px;
    width: 956px;
    margin: 0 auto;
    position: relative;
    color: white;

    ul {
      width: 952px;
      margin: 0 auto;
    }

    li {
      float: left;
      border-left: 1px solid rgba(255,255,255,.4);
    }

    li:last-child {
      height: 40px;
      border-right: 1px solid rgba(255,255,255,.4);
       small {
        color: #6a96c2;
        font-size: 8px;
        position: relative;
        top: -7px;
        left: 64px;
      }
    }
    li:last-child:hover {
      small {
        color: white;
      }
    }
    a {
      display: block;
      color: #fff;
      padding: 10px 14px;
      line-height: 19px;
    }

    .form {
      color: black;
      background-color:  #fff;
    }
    li:hover, .form:hover {
      background-color: black;
      color: white;
    }
  }
}
  .local-events-wrap {
    background-color: #f0f0f0;
  }

  .local-events {
    width: 952px;
    margin: 0 auto;
    padding: 20px 0;
    hr {
      border-color:  #6b96c2;
    }
    .eventlist {
      display: flex;
      justify-content: space-between;
    }
    .event {
      // border: 1px solid;
      font-size: 12px;
      width: 160px;
      height: 130px;
      img {
        width: 150px;
        height: 75px;
      }
      #img-2 {
        border: 1px solid #add1f5;
      }
      a {
        color: #6b96c2;
      }
      #venue {
        color: #9c9c9c;
        margin: 4px 0;
      }
    }
  }

  .top-events {
    position: relative;
    padding: 20px 0;
    // background-color: #f0f0f0;
    section {
      width: 952px;
      margin: 0 auto;
    }
    hr {
      border-color:  #6b96c2;
      margin-bottom: 20px;
      width: 952px;
    }
    #content-title {
      position: relative;
      width: 952px;
      margin: 0 auto;
      padding-bottom: 2px;
      // margin-bottom: 20px;
      // border-bottom: 2px solid  #6b96c2;
    }

    .eventlist {
      position: relative;
      width: 952px;
      margin: 0 auto;
      white-space: nowrap;
      
      .event {
        white-space: normal;
        max-width: 1057px;
        font-size: 14px;
       
        #event-name {
          text-decoration: underline;
          font-size: 18px;
        }
        #event-date {

        }
        #venue {

        }
        #headliners {

        }
        #description {
          font-size: 12px;
        }
        #event-img {
          width: 50px;
        }
      }

    }

  }



.eventshow-nav-container {
  background-color: #6b96c2;
  height: 375px;
  .events-nav {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.eventshow-header {
  margin: 0 auto;
  width: 952px;
  #prev {
    position: relative;
    top: 2px;
    width: 16px;
  }
  a:hover {
    filter: invert(1);
  }
  h2 {
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 0.9em;
  }
}

.subheader-container {
  width: 100%;
  .eventshow-subheader {
    width: 952px;
    margin: 0 auto;
    .details {
      width: 625px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      li {
        color: #b4b4b4;
        font-size: 12px;
        h3 {
          position: relative;
          top: -10px;
          color: #6b96c2;
          font-size: 16px;
          font-weight: normal;
          height: 0;
          text-align: left;
        }
        h4 {
          position: relative;
          top: -16px;
          color: black;
          font-size: 16px;
          font-weight: normal;
          height: 0;
        }
      }
    }
  }
}

.main-container {
  width: 100%;
  background-color: #f0f0f0;
  .eventshow-main {
    width: 952px;
    margin: 0 auto;
    #headliners {
      color: black;
      font-size: 36px;
      small {
        color: #b4b4b4;
        font-size: 12px;
      }
    }
    #description {
      margin-top: 24px;
    }
    #event-image {
      max-width: 800px;
    }
  }
}

.event-form-container {
  background-color: #404040;
}

// Smaller

@media only screen and (max-width: 972px) {
 .events-index .events-nav {
    width: 675px;
    height: 128px;
    nav {
      width: 675px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links li {
        width: 75px;
      }
    }
    h1 {
      width: 675px;
      font-size: 48px;
      line-height: 0.7em;
    }
  }

  .local-events {
    width: 675px;
  }

 .events-index {
   .subnav-container {
     border-top: unset;
   }
  .subnav-drop .reveal {
     background-color: #6a96c2;
   }
 }
 
 .events-index #events-subnav {
    display: none;
    width: 675px;
    ul {
      width: 675px;
    }
  }
  .events-index {
    .top-events {
      section, #content-title, .eventlist, hr {
        width: 675px;
      }
    }
  }

  .eventshow-nav-container {
    height: 260px;
    .events-nav {
      height: 250px;
    }
  }
  .eventshow-header {
    width: 675px;
    h2 {
      line-height: unset;
      font-size: 48px;
    }
  }
  .subheader-container {
    .eventshow-subheader {
      width: 675px;
      height: 65px;
    }
  }
  .main-container {
    .eventshow-main {
      width: 675px;
      #event-image {
        width: 675px;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .events-index {
    .events-nav {
      width: 560px;
      nav {
        width: 560px;
      }
      h1 {
        width: 560px;
      }
    }

    .local-events {
      width: 560px;
    }
   
    #events-subnav {
      width: 560px;
      ul {
        width: 560px;
      }
    }
    .top-events {
       section, #content-title, .eventlist, hr {
        width: 560px;
      }
    }
  }
  .eventshow-header {
    width: 560px;
  }
  .subheader-container {
    .eventshow-subheader {
      width: 560px;
      height: 65px;
      .details {
        width: 490px;
      }
    }
  }
  .main-container {
    .eventshow-main {
      width: 560px;
      #headliners {
        font-size: 28px;
      }
      #event-image {
        width: 560px;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .events-index {
    .events-nav {
      width: 490px;
      nav {
        width: 490px;
      }
      h1 {
        width: 490px;
      }
    }
    #events-subnav {
      width: 490px;
      ul {
        width: 490px;
      }
    }
    .local-events {
      width: 490px;
    }
    .top-events {
       section, #content-title, .eventlist, hr {
        width: 490px;
      }
    }
  }
  .eventshow-header {
    width: 490px;
  }
  .subheader-container {
    .eventshow-subheader {
      width: 490px;
      height: 65px;
    }
  }
  .main-container {
    .eventshow-main {
      width: 490px;
      #headliners {
        font-size: 24px;
      }
      #event-image {
        width: 490px;
        height: 300px;
      }
    }
  }
}



// Larger

@media only screen and (min-width: 1300px){

  .events-index {
    .events-nav {
      width: 1272px;
      nav {
        width: 1272px;
        #links {
          left: -147px;
        }
      }
      h1 {
        width: 1272px;
      }
    }
    #events-subnav {
      width: 1272px;
      ul {
        width: 1272px;
      }
    }
    .top-events {
     section, #content-title, .eventlist {
        width: 1272px;
      }
      hr {
        margin: 0 0 20px 0;
        width: 1120px;
      }
    }
  }

  .eventshow-header {
     width: 1272px;
  }
  .subheader-container {
    .eventshow-subheader {
        width: 1272px;
    }
  }
  .main-container .eventshow-main {
      width: 1272px;
  }

  .footer {
    .foothold {
      width: 1272px !important;
    }
  }
}