.genre-index {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  background-color: #595959;
  border-bottom: 1px solid #575757;
  .hide {
    color: #b4be00;
  }
}

.genre-nav-container {
  background-color: #b4be00;
  background-position: center;
  #logo {
    filter: none;
    &:hover {
      filter: invert(1);
    }
  }
}

.genre-nav {
  width: 952px;
  height: 215px;
  margin: 0 auto;
  color: white;
   nav {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    #links {
      height: 22px;
      position: relative;
      left: unset;
      li:nth-of-type(3) {
        background-color: white;
        border-color:  white;
        color: black;
      }
    }
    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      left: -4px;
    }
  }
  h1 {
    letter-spacing: -2px;
    line-height: 2em;
    font-size: 64px;
    margin: 0 auto;
    width: 960px;
    font-weight: normal;
  } 
}

.genre-subnav-container {
  background-color: #b4be00;
  border-top: 1px solid rgba(255,255,255,.4);
  border-top-color: rgba(69,69,69,.4);
}

.genre-subnav {
  height: 40px;
  width: 952px;
  margin: 0 auto;
  position: relative;
  color: black;
  ul {
    width: 952px;
    margin: 0 auto;
  }
  li {
    height: 40px;
    float: left;
    border-left: 1px solid rgba(69,69,69,.4);
    a {
     display: block;
     padding: 10px 14px;
     line-height: 19px;
    }
  }
  li:last-child {
    border-right: 1px solid rgba(69,69,69,.4);
  }
   li:hover, .form:hover {
    background-color: black;
    color: white;
  }
}

.genres-container {
  position: relative;
  padding: 40px 0;
  h1 {
    font-size: 24px;
    color: white;
    small {
      font-size: 14px;
      font-style: italic;
    }
  }
  hr {
    border-color: #b4be00;
    // width: 780px;
    margin: unset;
  }
}

.genres {
  width: 952px;
  margin: 0 auto;
}

.genre-list {
  color: #b4be00;
  columns: 3;
  margin-top: 30px;

  .genre {
    width: fit-content;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.genrelist-item {
  margin-bottom: 10px;
}

.genrelist-item strong:hover {
  color: black;
  background-color: #b4be00;
}


.genre-avatar {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  &:hover {
    background-color: none;
  }
}


//Genre Show

.genreshow-nav-container {
  height: 575px;
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  .genre-nav {
     height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
}



.genreshow-header {
   margin: 0 auto;
   width: 952px;
  a {
    color: white;
    position: relative;
    top: 12px;
    &:hover {
      filter: invert(1);
      -webkit-text-stroke: 1px black;
    }
  }
  
  #prev {
    position: relative;
    top: 2px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
  }
  h1 {
    font-size: 72px;
    width: 952px;
    margin: 0 auto;
    line-height: 1.3em;
    -webkit-text-stroke: 1px black;
  }
}

.genre-main {
   h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  hr {
    border-color: #b4be00;
  }
}

.description-container, .examples {
  width: 960px;
  margin: 0 auto;
  padding: 40px;
}

#genre-bio {
  color: white;
  // text-indent: 1.0em;
  li {
    // text-indent: 1.0em;
    font-weight: bold;
  }
}

.example-list {
  columns: 4;
  // color: #b4be00;
  #dj-link {
    margin-bottom: 5px;
    white-space: nowrap;
    // font-weight: bold;
    // color: #1d1d1d;
    color: #fdff00;
    font-size: 18px;
    a:hover {
      color: #1e1e1e;
      background-color: #fdff00;
      // color: black;
      // -webkit-text-stroke: unset;
      // background-color: #b4be00;
    }
  }
}

#acidhouse-container {
  #logo {
    background-color: #0000001a;
  }
  #logo:hover {
    background-color: unset;
  }
  .genreshow-header a {
    background-color: black;
  }
}

#electropunk-container {
  background-position-y: -400px;
}

#neotrance-container {
  background-position-y: -460px;
}

#synthpop-container {
  background-position-y: -100px;
}

// Smaller

@media only screen and (max-width: 972px) {
  .genre-nav {
    width: 675px;
    height: 128px;
    nav {
      width: 675px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links li {
        width: 75px;
      }
    }
    h1 {
      width: 675px;
      // line-height: 3em;
      line-height: 0.7em;
      font-size: 48px;
    }
  }


  .genreshow-nav-container {
    height: 340px;
    .genre-nav {
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .genreshow-header {
    width: 675px;
    h1 {
      line-height: unset;
    }
    a {
      top: unset;
    }
  }

  #genre-show {
    .reveal li:first-child {
      border-bottom: none;
    }
  }


  .genre-subnav {
    display: none;
    width: 675px;
    ul {
      width: 675px;
    }
  }
  .genres {
    width: 675px;
  }

  .genre-subnav-container {
    border-top: unset;
    .subnav-drop {
      .reveal {
        background-color: #b4be00;
        li:first-child {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  .description-container, .examples {
    width: 675px;
  }
  .example-list {
    columns: 3;
  }
}

@media only screen and (max-width: 700px) {
  .genre-nav {
    width: 560px;
    nav {
      width: 560px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links li {
        width: 75px;
      }
    }
    h1 {
      width: 560px;
    }
  }
  .genre-subnav {
    width: 560px;
    ul {
      width: 560px;
    }
  }
  .genres {
    width: 560px;
  }

  .genreshow-nav-container {
    height: 260px;
    .genre-nav {
      height: 250px;
    }
  }


  .genreshow-header {
    width: 560px;
    h1 {
      // line-height: 2em;
    }
    a {
      // top: 30px;
    }
  }
  .genre-main h1 {
    padding-top: 40px;
  }
  // .description-container {
  //   padding: unset;
  // }
  .description-container, .examples {
    width: 560px;
    padding: 0 0 40px 0;
  }
  .example-list {
    columns: 3;
  }
}

@media only screen and (max-width: 560px) {
  .genre-nav {
    width: 490px;
    nav {
      width: 490px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links li {
        width: 75px;
      }
    }
    h1 {
      width: 490px;
    }
  }
  .genre-subnav {
    width: 490px;
    ul {
      width: 490px;
    }
  }
  .genres {
    width: 490px;
  }

  
  .genreshow-header {
    width: 490px;
    h1 {
      // line-height: 3em;
      font-size: 52px;
    }
    a {
      // top: 30px;
    }
  }
 
  .description-container, .examples {
    width: 490px;
  }
  .example-list {
    columns: 3;
  }
}

@media only screen and (max-width: 499px) {
  .genre-nav {
    width: 360px;
    nav {
      width: 360px;
      #logo {
        width: 80px;
        height: 75px;
      }
      #links  {
       flex-direction: column;
       li {
         width: 75px;
       }
      }
    }
    h1 {
      width: 360px;
    }
  }
  .genre-subnav {
    width: 360px;
    ul {
      width: 360px;
    }
  }
  .genres-container h1 {
    font-size: 20px;
  }
  .genres {
    width: 360px;
    font-size: 12px;
  }
  #progressive {
    font-size: 10px;
  }
  .genre-avatar {
    width: 20px;
    height: 20px;
  }
  
  .genreshow-header {
    width: 360px;
    h1 {
      // line-height: 3em;
      font-size: 52px;
    }
    a {
      // top: 30px;
    }
  }
  #genre-bio {
    max-height: 300px;
    overflow: scroll;
  }
 
  .description-container, .examples {
    width: 360px;
  }
  .example-list {
    column-gap: 80px;
    #dj-link {
      font-size: 12px;
    }
  }
}

// Larger

@media only screen and (min-width: 1300px){
  .genre-nav {
    width: 1272px;
    nav {
      width: 1272px;
      #links {
        left: -147px;
      }
    }
    h1 {
      width: 1272px;
    }
  }
  .genre-subnav {
    width: 1272px;
    ul {
      width: 1272px;
    }
  }
  .genres {
    width: 1272px;
    hr {
      width: 1120px;
    }
  }
  .genreshow-nav-container {
    // height: 300px;
  }
  .genreshow-header {
    width: 1272px;
    line-height: 6em;
    a {
      top: 44px;
    }
    h1 {
      width: 1272px;
    }
  }
  .description-container, .examples {
    width: 1272px;
  }
}
