body {
  /* background-color: rgb(174, 190, 30); */
  background-color:  #404040; 
  // background-image: url(./images/rave2.png);
}

.user {
  position: relative;
  // z-index: 1;
  background-color: #2e2e2e;
  border-top: 1px solid #454545;
  height: 45px;
  font-size: 16px;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

// @media only screen and (max-width: 979px) {
//   .user {
//       height: 56px;
//   } 

//   .login-signup {
//     padding: 20px 0 0 0;
//     padding-left: 8px;
//     margin-right: 70px;
//     float: none;
//     font-size: .75em;
//     line-height: 1.2em !important;
//     border: 0;
//   }
// }



// .user>ul:first-child {
//   margin: 0 auto;
//   position: relative;
// }

.user>ul:first-child>li {
  // height: 45px;
  // line-height: 2.8em;
  cursor: default;
}

.login-signup {
  color: white;
  // float: left;
  position: absolute;
  right: 37%;
  margin-right: 456px;
  // top: 3px;
  // top: -1px;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 20px;
  padding-right: 54px;
  // padding-top: 11px;
  border-color: #454545;
  margin-left: 170px;
  background-color: #2e2e2e;
  background-image: image_url('arrowhite.png');
  background-repeat: no-repeat;
  background-position-x: 157px;
  // background-position-y: 14px;
  background-position-y: 19px;
  background-size: 10px;
}

.reveal {
  box-sizing: content-box;
  display: block;
  position: absolute;
  top: 45px;
  left: 0px;
  // background-color: inherit;
  background-color: #2e2e2e;
  width: 100%;
  height: 200%;
  z-index: 2000;
}

.reveal li {
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 12px;
  border: 1px solid #454545;
  height: 50%;
  width: 100%;
}

.log-link {
  width: 100%;
  padding-right: 133px;
}

.reveal li:hover {
  background-color: black;
}

.reveal li:first-child {
  border-bottom: none;
}

.hide {
  position: absolute;
  top: 47px;
}
  

.login-signup:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


// #login-icon {
//   position: absolute;
//   right: 13px;
//   bottom: 0px;
//   cursor: pointer;
// }


.welcome-group {
  display: flex;
  position: absolute;
  box-sizing: content-box;
  padding-top: 6px;
  padding-right: 59px;
  margin-left: 3px;
  // top: 6px;
  left: 208px;
  font-size: 16px;
  color: #7e7e7e;
  border-right: 1px solid #404040;
  height: 100%;
}

// .welcome-group:hover {
//   background-color: black;
// }


.welcome-name {
  position: relative;
  line-height: 2em;
  list-style: none;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  font-size: 16px;
}

.welcome-name:first-child {
  padding-left: 7px;
}

.welcome-name:last-child {
  color: white;
  padding-left: 4px;
}

#dj-icon {
  position: absolute;
  left: 163px;
  background-color: #c1c1c1;
  padding: 10px 11px 11px 12px;
  filter: invert(6);
}

// #dj-icon:hover {
//   filter: contrast(1.5);
// }


.logout-button {
  position: absolute;
  left: 390px;
  top: 13px;
  width: 19px;
  background-color: whitesmoke;
  height: 18px;
  font-size: 12px;
  color: #404040;
  border-radius: 50%;

  img {
    height: 20px;
    width: 21px;
    position: absolute;
    top: -1px;
    right: -1px;
    filter: contrast(0.5);
   
  }
}


.logout-button:hover {
  border: 1px solid #000000;
  background-color: white;
  transform: scale(1.2);
  filter: invert(1);
}

#alert {
  position: relative;
  top: 14px;
  left: -1px;
  color: #7e7e7e;
  font-size: 7px;
  // font-style: oblique;
  text-decoration: fade-in($color: #000000, $amount: 1);
}

.footer {
  position: relative;
  width: 100%;
  height: 575px;
  color: #fff;
  background-color: #2e2e2e;

  .footer-links {
  position: absolute;
  bottom: 7%;
  left: 170px;
  display: flex;
  height: 154px;
  width: 74%;
  justify-content: flex-end;
  border-top: 0.1px solid #585858;


    li {
      margin-top: 15px;
      margin-right: 11px;

    }
    
    li:last-child {
        margin-top: 4px;
    }


      img {
        height: 30px;
        width: 30px;
        // margin-right: 9px;
        filter: invert(1);
      }
    }

    #fb-logo {
      filter: none;
      margin-top: 11px;
      border-radius: 17px;
      background-color: #ffa200;
    }

    #git-logo {
     border-radius: 17px;
    }

    div {
      position: absolute;
      bottom: 157px;
      left: 179px;

      a {
        color: #ffa200;
        padding-left: 2px;
      }
    }
}