body {
  /* background-color: rgb(174, 190, 30); */
  background-color:  #404040; 
  // background-image: url(./images/rave2.png);
}

.user {
  position: relative;
  background-color: #2e2e2e;
  border-top: 1px solid #454545;
  height: 45px;
  font-size: 16px;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

// .user>ul:first-child {
//   margin: 0 auto;
//   position: relative;
// }

.user>ul:first-child>li {
  height: 45px;
  line-height: 2.8em;
  cursor: pointer;
}

.login-signup {
  color: white;
  float: left;
  position: relative;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 20px;
  padding-right: 53px;
  border-color: #454545;
  margin-left: 170px;
  // line-height: 2.8em;
}


.login-signup:hover {
  background-color: black;
  color: #FFA200;
}

.denizen-confidant {
  position: relative;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  // font-family: Arial black;
  background-color: #b3be1b;
  color: #333333;
  letter-spacing: -2px;
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  height: 70px;
  /* text-shadow: 1px 1px; */
}

#login-icon {
  position: absolute;
  right: 13px;
  bottom: 0px;
  cursor: pointer;
}

img {
  opacity: 92%;
  position: absolute;
  left: 317px;
  top: 11px;
  // display: block;
  width: 3%;
  height: auto;
}

.splash-bg {
  position: relative;
  height: 350px;
}

/* .denizen-confidant::first-letter {
  rotate: 20%;
} */


.welcome-group {
  display: flex;
  flex-direction: column;
  padding-left: 53px;
  padding-top: 9px;
  font-size: 15px;
  color: #7e7e7e;
}

.logout-button {
  position: absolute;
  left: 150px;
  top: 11px;
  width: 46px;
  font-size: 12px;
  background-color: #ffc107;
  border-radius: 3px; 
  padding-left: 3px;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

.welcome-name {
  position: relative;
  list-style: none;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  font-size: 12px;
}

.welcome-name:last-child {
  color: white;
}