body {
  /* background-color: rgb(174, 190, 30); */
  background-color:  #404040; 
  // background-image: url(./images/rave2.png);
}

.user {
  position: relative;
  background-color: #2e2e2e;
  border-top: 1px solid #454545;
  height: 45px;
  font-size: 16px;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

// .user>ul:first-child {
//   margin: 0 auto;
//   position: relative;
// }

.user>ul:first-child>li {
  // height: 45px;
  // line-height: 2.8em;
  cursor: pointer;
}

.login-signup {
  color: white;
  float: left;
  position: absolute;
  top: 3px;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 20px;
  padding-right: 53px;
  padding-top: 11px;
  border-color: #454545;
  margin-left: 170px;
  background-image: url('/assets/arrow copy.png');
  background-repeat: no-repeat;
  background-position-x: 157px;
  background-position-y: 14px;
  background-size: 12px;
}
  

.login-signup:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  // color: #FFA200;
}


// #login-icon {
//   position: absolute;
//   right: 13px;
//   bottom: 0px;
//   cursor: pointer;
// }

#dj-icon {
  position: absolute;
  top: 6px;
  left: 14px;
}

// .splash-bg {
//   position: relative;
//   height: 350px;
// }

/* .denizen-confidant::first-letter {
  rotate: 20%;
} */


.welcome-group {
  position: absolute;
  top: 4px;
  left: 59px;
  font-size: 15px;
  color: #7e7e7e;
}

.logout-button {
  position: absolute;
  left: 150px;
  top: 15px;
  width: 46px;
  font-size: 12px;
  background-color: #ffc107;
  border-radius: 3px; 
  padding-left: 3px;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

.welcome-name {
  position: relative;
  list-style: none;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  font-size: 12px;
}

.welcome-name:last-child {
  color: white;
}