body {
  // background-color:  #404040; 
  background-color: #2f2f2f;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
}

.user {
  position: relative;
  // z-index: 1;
  background-color: #2e2e2e;
  border-top: 1px solid #454545;
  height: 45px;
  font-size: 16px;
}

.login-container {
  width: 960px;
  margin: 0 auto;
  height: inherit;
}

.login-wrap {
  width: 200px;
  height: inherit;
}


.login-signup {
  cursor: pointer;
  color: white;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  // padding: 14px 0 14px 0;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #454545;
  background-color: #2e2e2e;
  span {
    padding: 14px 0 13px 0;
    margin: 0 10px 0px 20px;
    // margin: 0 10px 13px 20px;
    font-size: 16px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    small {
      font-size: 12px;
    }
  }
  span:hover {
    background-color: black;
    // width: 100%;
    width: inherit;
    margin: unset;
    // padding: 14px 20px 13px 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
     @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      span {
        padding-bottom: 31px;
        &:hover {
          padding-bottom: 37px !important;
        }
      }
    }}
}

.reveal {
  // background-color: inherit;
  background-color: #2e2e2e;
  width: inherit;
  // height: 200%;
  z-index: 2000;
  li {
    box-sizing: border-box;
    // padding: 14px 0 14px 20px;
    font-size: 16px;
    border: 1px solid #454545;
    width: inherit;
  }
  li:hover {
    background-color: black;
  }
}

.log-link {
  display: inline-block;
  width: 100%;
  // height: 100%;
  padding: 14px 0 14px 20px;
}



.reveal li:first-child {
  border-bottom: none;
}

.hide {
  position: relative;
  // top: 47px;
  opacity: 0.1;
  color: transparent;
  z-index: -1;
  height: 0;
}
  
// .login-signup {
//   background-color: black;
//   color: white;
// }



.welcome-container {
  width: 960px;
  height: inherit;
  margin: 0 auto;
  display: flex;
}

.welcome-wrap {
  width: 263px;
  display: flex;
  border-right: 1px solid #404040;
  .reveal {
    position: static;
    width: inherit;
    height: inherit;
    color: white;
    li {
      cursor: pointer;
      // height: 100%;
      width: inherit;
      // padding: 14px 0 14px 20px;
      border: 1px solid #454545;
      border-right: none;
      border-left: none;
    }
  }
}

#dj-icon {
  background-color: #c1c1c1;
  padding: 10px 11px 11px 12px;
  filter: invert(6);
}

#welcome-msg {
  font-size: 16px;
}

.logout-dropdown {
  width: inherit;
  color: white;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  span {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  span:hover {
    background-color: black;
    width: 100%;
  }
   @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      span {
       padding: 22px 0;
       &:hover {
         width: inherit;
       }
      }
      @media only screen and (max-width: 972px) {
        span {
          padding: 26px 0;
          &:hover {
            padding-bottom: 30px !important;
            margin: unset;
          }
        }
      }
      @media only screen and (max-width: 499px) {
        span {
          //  margin-top: 26px;
          //  margin-bottom: 30px;
          &:hover {
            padding-bottom: unset;
            margin-top: 26px;
            margin-bottom: 30px;
            small {
              margin-right: 12px;
            }
          }
        }
        #dj-icon {
          margin-left: -5px;
        }
      }
      }}
  white-space: nowrap;
  strong {
    color: #7e7e7e;
  }
  small {
    font-size: 12px;
    margin-left: 23px;
    margin-right: 17px;
  }
}
// .logout-dropdown:hover {
//   background-color: black;
// }

.Tappable-inactive, .Tappable-active {
  width: inherit;
  height: inherit;
  user-select: auto;
}


@media only screen and (max-width: 972px) {
  .user {
    height: 56px;
  }
 .login-container, .welcome-container {
    width: 675px;
    height: 56px;
  }
 .login-wrap, .welcome-wrap {
    width: 580px;
    .reveal {
      // height: 56px;
    }
  }
  .login-signup {
    border-left: none;
    span {
      font-size: 14px;
      width: 560px;
      margin: 5px 10px 6px 3px;
      &:hover {
        padding: 19px 17px 19px 3px;
      }
    }

  }
  .logout-dropdown {
    span {
      font-size: 14px;
      width: 560px;
      box-sizing: border-box;
      margin-bottom: 4px;
    }
    span:hover {
      padding-bottom: 4px;
      margin: unset;
      small {
        margin-right: 37px;
      }
    }
  }
  // .welcome-wrap:hover {
  //   #dj-icon {
  //     border-top: 1px solid black;
  //     border-bottom: 1px solid black;
  //   }
  // }
  #welcome-msg {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -185px;
    bottom: 4px;
    font-size: 14px;
  }
  #dj-icon {
    padding: 18px 11px 13px 12px;
    margin-top: 4px;
    width: 51px;
    height: 48px;
  }
  .log-link {
    // padding-right: 520px;
  }
}


@media only screen and (max-width: 700px) {
   .login-container, .welcome-container {
     width: 560px;
   }
}

@media only screen and (max-width: 560px) {
  .login-wrap, .welcome-wrap {
    width: 495px;
  }
  .login-signup, .logout-dropdown {
    span {
      width: 480px;
    }
  }
  .login-signup {
    span:hover {
      padding-right: 12px;
    }
  }
  .logout-dropdown {
    span:hover {
      small {
        margin-right: 32px;
      }
    }
  }
  #welcome-msg {
    left: -155px;
    font-size: 12px;
  }
  .log-link {
    // padding-right: 435px !important;
  }
  .login-container, .welcome-container {
    width: 490px;
    // margin: unset;
  }
}

@media only screen and (max-width: 499px) {
  .login-container {
    width: 360px;
  }
  .login-wrap, .welcome-wrap {
    width: 360px;
  }
  .login-signup, .logout-dropdown {
    border-right: unset;
    span {
      width: 350px;
    }
  }
  .logout-dropdown {
    small {
      margin-right: 0;
    }
    span:hover {
      outline: 9px solid black;
      small {
        margin-right: 8px;
      }
    }
    //  span {
    //   margin-top: 26px;
    //   margin-bottom: 30px;
    //   &:hover {
    //     padding-bottom: unset;
    //     margin-top: 26px;
    //     margin-bottom: 30px;
    //     small {
    //       margin-right: 12px;
    //     }
    //   }
    // }
  
    // span:hover small {
    //   margin-right: 12px;
    // }
  }
  .welcome-container {
    width: 360px;
  }
  .welcome-wrap {
    border-right: unset;
  }
  #welcome-msg {
    left: -100px;
  }
  #dj-icon {
    margin-left: 0px;
  }
}


@media only screen and (min-width: 1300px){
  .welcome-container {
    width: 1272px;
  }
}


// Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-end;
  width: 100%;
  height: 425px;
  color: #fff;
  background-color: #2e2e2e;
  box-sizing: border-box;
  padding-top: 40px;

.foothold {
  width: 960px;
  height: 154px;
  display: flex;
  justify-content: space-between;
  border-top: 0.1px solid #585858;
  margin: 0 auto;
}

.upper-foot {
  width: 960px;
  margin: 0 auto;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.disclaimer-wrap {
  margin-top: 42px;
}
#disclaimer {
  font-size: 10px;
  a {
    color: #ffa200;
  }
  a:hover {
    background-color: #ffa200;
    color: #2e2e2e;
  }
}
.submit-wrap {
  text-align: center;
}
#submit-btn {
  color: black;
  background-color: #ffa200;
  padding: 6px 30px;
}
#submit-btn:hover {
  color: white;
  background-color: black;
}

  .footer-links {
    display: flex;
    li {
      margin-top: 11px;
      margin-right: 11px;
      display: flex;
      flex-direction: column;
      width: 35px;
      small {
        font-size: 8px;
        color: #2f2f2f;
        text-align: center;
      }
    }
    // li:last-child {
    //     margin-top: 4px;
    // }
      img {
        // width: 45px;
        // height: 40px;
        width: 35px;
        height: 30px;
        filter: invert(1);
        image-rendering: -webkit-optimize-contrast;
      }
      img:hover {
        transform: scale(0.9);
      }
      a:hover + small {
        color: #afacac;
      }
    }

    #fb-logo {
      filter: none;
      // margin-top: 11px;
      border-radius: 17px;
      background-color: #ffa200;
    }

    #git-logo {
     border-radius: 17px;
    }

    #angel-logo {
      border-radius: 20%;
      border: 1px solid #89a5ff;
    }

    #headshot {
      filter: none;
      border-radius: 4px;
      border: 1px solid black;
    }

    #footer-msg {
      margin-top: 12px;
      font-size: 20px;
      a {
        color: #ffa200;
        padding-left: 2px;
      }
      a:hover {
        background-color: #ffa200;
        color: #2e2e2e;
        margin-left: 6px;
        padding-right: 8px;
      }
    }
}

@media only screen and (max-width: 972px) {
  .footer {
    .foothold, .upper-foot {
      width: 675px;
    }
    #footer-msg {
      font-size: 16px;
    }
    .footer-links {
      img {
        width: 30px;
        height: 30px;
      }
      li {
        margin-top: 8px;
        width: unset;
        small {
          width: 30px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    .foothold, .upper-foot {
      width: 500px;
    }
    #footer-msg {
      font-size: 10px;
    }
    #disclaimer {
      font-size: 9px;
      width: 466px;
    }
    .footer-links {
      li {
        width: 20px;
        height: 20px;
        small {
          width: 20px;
          font-size: 5px;
        }
      }
      img {
        width: 25px;
        height: 20px;
      }
    }
    #headshot {
      border-radius: 50%;
      // border: 1px solid #2e2e2e;
      border: unset;
    }
  }
}

@media only screen and (max-width: 560px) {
  .footer {
    height: 400px;
    #disclaimer {
      font-size: 7px;
      width: 468px;
    }
    .foothold, .upper-foot {
      width: 440px;
    }
  }
  .footer .footer-links {
    li {
      width: 15px;
    }
    img {
      width: 20px;
      height: 19px;
    }
    #headshot {
      margin-top: 1px;
    }
    #git-logo {
      border: 1px solid;
    }
  }
}

@media only screen and (max-width: 499px) {
  .footer {
    #disclaimer {
      width: 360px;
    }
    .foothold, .upper-foot {
      width: 360px;
    }
  }
}

@media only screen and (min-width: 1300px){
   .footer {
    .foothold, .upper-foot {
      width: 1272px;
    }
  }
}