
#nav-container {
  position: relative;
  display: block;
  background-color: #ffa200;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  height: 250px;

  #logo {
    filter: invert(1);
    position: relative;
    left: -4px;
  }
  #logo:hover {
    filter: unset;
  }
}

#navbar {
  width: 960px;
  // height: 215px;
  margin: 0 auto;
  nav {
   display: flex;
   justify-content: space-between;
   width: 960px;
   margin: 0 auto;
  }
  h1 {
    margin: 0 auto;
    width: 960px;
    font-size: 64px;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 3em;
    height: 40px;
  }
}


#links {
  position: relative;
  top: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 22px;
}

#links li {
  width: 141px;
  border-bottom: 2px solid;
  box-sizing: content-box;
  padding-left: 8px;
  padding-bottom: 2px;
  margin-right: 8px;
  cursor: pointer;
  a {
    padding-right: 80%;
  }
}
#links li:hover {
  color: black;
}
#links li:first-child {
  border-color: #ff0;
}
#links li:first-child:hover {
  background-color: #ff0;
}
#links li:nth-of-type(2) {
  border-color: #6b96c2;
}
#links li:nth-of-type(2):hover {
  background-color: #6b96c2;
}
#links li:nth-of-type(3) {
  border-color: #b4bd02;
}
#links li:nth-of-type(3):hover {
  background-color: #b4bd02;
}
#links li:last-child {
  border-color: white;
  padding-left: 0;
}
#links li:last-child:hover {
  background-color: white;
}


// #nav-container h1 {
//   position: absolute;
//   top: 167px;
//   right: 37%;
//   font-size: 64px;
//   letter-spacing: -2px;
//   font-weight: 500;
//   margin-right: 300px;
//   padding-bottom: 6px;
// }

.subnav-container {
  border-top: 1px solid rgba(97, 71, 71, 0.4);
  background-color: #ffa200;
}


#subnav {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  ul {
   width: 960px;
   margin: 0 auto
  }
  li {
  //  cursor: pointer;
   height: 40px;
   float: left;
   border-left: 1px solid rgba(69,69,69,.4);
    a {
     display: block;
     padding: 10px 14px;
     line-height: 19px;
    }
  }
  li:last-child {
    border-right: 1px solid rgba(69,69,69,.4);
  }
  li:hover, .form:hover {
    background-color: black;
    color: white;
  }
}


// #subnav ul {
//   position: absolute;
//   right: 37%;
//   margin-right: 310px;
// }

// #subnav li {
//   float: left;
//   border-left: 1px solid rgba(97, 71, 71, 0.4);
// }

// #subnav li:hover {
//   color: white;
//   background-color: white;
// }

// #subnav li:last-child {
//   border-right: 1px solid rgba(97, 71, 71, 0.4);
//   padding-right: 5px;
// }



// #subnav a {
//   display: block;
//   color: black;
//   padding: 10px 14px;
//   line-height: 19px
// }

// #subnav-toggle {
//   width: 500px;
//   margin-top: 10px;
//   margin-left: 53px;
//   height: 40px;
//   font-size: 16px;
// }


.login-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  position: relative;
  height: 453px;
  border-bottom: 1px #585858 solid;

  .demo-login {
    margin: 0 auto;
    width: 674px;
  }
  #demo-notice {
    width: 294px;
    top: -5px;
    border-bottom: 2px solid #ffa200;
    box-sizing: border-box;
    padding-bottom: 2px;
    margin: unset;
  }
  #demo-button {
    margin: unset;
  }
}

.login-form {
  //  width: 960px;
  //  margin: 0 auto;
   display: flex;
   flex-direction: column;
   color: white;
   margin-right: 65px;
  #check-box {
    margin-right: 4px;
    margin-bottom: 12px;
  }
  .error-container {
      width: 230px;
      margin-bottom: 5px;
  }
  .errors {  
      white-space: normal !important;
      color: #e10;
      font-weight: bold;
  }
  #username-error {
    line-height: 9px;
    margin-bottom: 7px;
  }
}

.login-input {
  box-sizing: border-box;
  padding-left: 5px;
  margin-bottom: 9px;
  margin-top: 1px;
  color: black;
  height: 28px;
  width: 240px;
  border-radius: 1px;
}


// Signup Form


.signup-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  height: 1000px;
  padding-top: 10px;
  background-color: #2e2e2e;
}

 .form-wrap {
    width: 960px;
    margin: 0 auto;
    display:flex;
    // .signup-form {
    //   position: relative;
    //   right: unset;
    //   margin-left: unset;
    // }
  }

.signup-input {
  height: 30px;
  width: 141px;
  box-sizing: content-box;
  padding-left: 10px;
}

.email-input {
  height: 30px;
  width: 312px;
}

.login-button, .signup-button {
  color: black;
  background-color: #ffa200;
  height: 40px;
  width: 240px;
  text-align: center;
  font-size: 24px;
}

.signup-button {
  width: 312px;
}

.signup-form {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  color: white;
  // background-color: #2e2e2e;
  .errors {
    margin-top: 2px;
  }
  #un-signup-error {
    white-space: normal !important;
    width: 153px;
  }
}

.signup-form li {
  display: flex;
  flex-direction: row;
}

.signup-form li:first-child {
  margin-bottom: -5px;
}

.signup-form li div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.signup-form span {
  font-size: 12px;
  color: #9c9c9c;
}

.signup-form input {
  color: black;
  box-sizing: border-box;
  padding-left: 5px;
}

#no-space {
  margin-bottom: 10px;
}

#default-region, #preferred-language {
  box-sizing: content-box;
  padding-left: 10px;
  font-size: 36px;
  height: 57px;
  border: 1px solid black;
  background-color: #ffa200;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-y: center;
  
  background-image: image_url("arrow.png");
}

#default-region {
  width: 312px;
  background-position-x: 295px;
  background-size: 13px;
}

.region-dropdown {
  position: relative;
  box-sizing: content-box;
  padding-left: 10px;
  font-size: 36px;
  height: 57px;
  width: 312px;
  border: 1px solid black;
  background-color: #ffa200;
  color: black;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: image_url("arrow.png");
  background-position-x: 295px;
  background-size: 13px;
}

.region-reveal {
  position: absolute;
  display: block;
  left: 0px;
  top: 57px;
  height: inherit;
  width: inherit;
  z-index: 2;
}

.region-reveal li:hover, .day-reveal li:hover, .month-reveal li:hover, .year-reveal li:hover {
  background-color: black;
  color: white;
}

.region-reveal li {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
  border-bottom: none;
  padding-top: 4px;
  height: 30px;
  width: 315px;
  border-top: 1px solid black;
  background-color: #ffa200;
  // z-index: 2;
}

.region-reveal li:first-child {
  line-height: 18px;
  color: black;
  background-color: white;
}

.region-reveal li:first-child:hover {
  background-color: black;
  color: white;
}

.region-hide {
  display: none;
}

#default-region-msg {
  // margin-top: 10px;
  margin-bottom: 10px;
}

#preferred-language, .day-dropdown, .month-dropdown, .year-dropdown {
  position: relative;
  box-sizing: content-box;
  padding-left: 10px;
  font-size: 36px;
  height: 57px;
  width: 210px;
  border: 1px solid black;
  background-color: #ffa200;
  color: black;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: image_url("arrow.png");
  background-position-x: 198px;
  background-size: 13px;
}

.language-reveal, .day-reveal, .month-reveal, .year-reveal {
  position: absolute;
  display: block;
  left: 0px;
  top: 57px;
  z-index: 1000;
  width: inherit;
}

.year-reveal, .day-reveal {
  max-height: 180px;
  overflow-y: scroll;
}

.language-reveal li, .day-reveal li, .month-reveal li, .year-reveal li {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
  border-bottom: none;
  padding-top: 4px;
  height: 30px;
  width: 154px;
  border-top: 1px solid black;
  background-color: #ffa200;
}

.language-reveal li:first-child {
  line-height: 18px;
  color: black;
  background-color: white;
}


.language-hide, .day-hide, .month-hide, .year-hide {
  display: none;
}

.region-dropdown:hover, #preferred-language:hover, .login-button:hover, .signup-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.region-dropdown:hover, #preferred-language:hover, .day-dropdown:hover, .month-dropdown:hover, .year-dropdown:hover {
  background-image: image_url("arrowhite.png");
    li {
      color: black;
      background-color: #ffa200;
    }
}

.region-dropdown li:hover, #preferred-language li:hover {
  background-color: black;
  color: white;
}

.day-dropdown {
  box-sizing: content-box;
  padding-left: 17px;
  width: 70px;
  background-position-x: 68px;;
}
.month-dropdown, .year-dropdown {
  width: 106px;
  background-position-x: 108px;
  box-sizing: content-box;
  padding-left: 22px;
}

.year-dropdown {
  width: 112px;
  background-position-x: 114px;
}

.day-dropdown:hover, .month-dropdown:hover, .year-dropdown:hover {
  background-color: black;
  color: white;

    li {
      color: black;
      background-color: #ffa200;
    }
}

.day-dropdown li:hover, .month-dropdown li:hover, .year-dropdown li:hover {
  background-color: black;
  color: white;
}

.day-reveal li, .month-reveal li, .year-reveal li {
  width: 70%;
}


#gender {
  margin-bottom: 16px;
}

#gender input {
  margin-right: 4px;
}

#newsletter {
  margin-bottom: 24px;
}

#check-box {
  margin-right: 3px;
}

.demo-login {
  height: 154px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #404040;
}

#demo-notice {
  position: relative;
  top: -22px;
  width: 294px;
  margin: 0 auto;
}

#demo-button {
  height: 46px;
  width: 294px;
  margin: 0 auto;
  background-color: #3b5998;
  font-size: 26px;
  color: white;
  box-sizing: border-box;
  padding-left: 66px;
  background-image: image_url("ravve.png");
  background-size: 38px;
  background-repeat: no-repeat;
  background-position-x: 188px;
  background-position-y: 3px;
}

#demo-button:hover {
  background-color: black;
}

.form {
  background-color: white;
  border: 0px 1px 0px 1px solid black;
}

#member {
  width: 17px;
}

.error-container {
  width: 50%;
}

.errors {
  // position: absolute;
  // top: 232px;
  // left: 165px;
  // display: block;
  white-space: nowrap !important;
  color: #e10;
  font-weight: bold;
  // line-height: 20px;
}

.subnav-toggle {
  display: none;
  width: 674px;
  margin: 0 auto;
}
#normal {
  height: 57px;
}
#expand {
  height: 134px;
}
.subnav-drop {
  width: 630px;
  height: 40px;
  box-sizing: border-box;
  // padding-left: 12px;
  border: 1px solid #6147479e;
  margin-top: 8px;
  .reveal {
    background-color: #ffa100;
    li {
      height: 40px;
      padding: 10px 0 14px 20px;
    }
    li:hover {
      background-color: black;
      color: white;
    }
    .log-link {
      white-space: nowrap;
    }
  }
  span {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 11px 0px 9px 16px;
    margin: 0 8px 1px 5px;
  }
  small {
    font-size: 12px;
  }
}
.subnav-drop:hover {
  background-color: black;
  color: white;
  .reveal {
    color: black;
  }
}

// Small

@media only screen and (max-width: 972px) {


// .login-wrap {
//   width: 704px;
//   margin: 0 auto;
//   height: 56px;
//   .reveal {
//     top: 56px;
//   }
// }
// .login-signup {
//   width: 583px;
//   margin: 0 auto;
//   color: white;
//   position: relative;
//   right: unset;
//   height: 100%;
//   // margin-right: -85px;
//   border-right: 1px solid;
//   border-left: none;
//   padding-left: 19px;
//   padding-right: unset;
//   border-color: #454545;
//   background-color: #2e2e2e;
//   background-image: image_url('arrowhite.png');
//   background-repeat: no-repeat;
//   background-position-x: 570px;
//   background-position-y: 24px;
//   background-size: 10px;
//   font-size: .75em;
// }

 
  #navbar {
    width: 632px;
    nav {
      width: 632px;
    }
  }

  #nav-container { 
    height: 160px;
    #logo {
      filter: invert(1);
      right: 25px;
      left: unset;
      top: 7px;
      width: 60px;
      height: 50px;
    }
    #links {
      font-size: .75em;
      left: unset;
      right: 90px;
      height: 18px;
      li {
        width: 80px;
      }
    }
    h1 {
      position: relative;
      width: 674px;
      right: 20px;
      font-size: 48px;
    }
  }

  .subnav-container {
    // height: 57px;
    display: flex;
    align-items: center;
  }

  #subnav {
    display: none;
    width: 674px;
    // ul {
    //   width: 674px;
    // }
  }

  .subnav-toggle {
    display: flex;
  }

  .login-form {
    width: 674px;
    z-index: -1;
  }

  .form-wrap {
    width: 674px;
    flex-direction: column;
  }
  .signup-form {
      margin-bottom: 20px;
  }
}


@media only screen and (max-width: 700px) {
  #nav-container {
    #logo, #links, h1 {
      right: unset;
    }
    #links {
      height: 18px;
    }
    h1 {
      width: 560px;
    }
  }
  #navbar {
    width: 560px;
    nav {
      width: 560px;
    }
  }
  #subnav {
    width: 560px;
    ul {
      width: 560px;
    }
  }
  .login-form-container .form-wrap {
    width: 560px;
    .login-form {
      width: 560px;
      ul {
        width: 560px;
      }
    }
    .demo-login {
      width: 560px;
    }
  }

  .signup-form-container {
    .form-wrap {
      width: 560px;
      flex-direction: column-reverse;
    }
  }
  .signup-form {

  }
  .signup-input {
    width: 151px;
  }
  #email-rows {
    flex-direction: column;
    div:first-of-type {
      margin-bottom: unset;
    }
  }
  .region-dropdown {
    font-size: 22px;
    width: 212px;
    background-position-x: 195px;
  }
  .region-reveal {
    width: 172px;
    height: 152px;
    overflow: scroll;
    li {
      width: 172px;
    }
  }
  #preferred-language {
    font-size: 24px;
    width: 152px;
    background-position-x: 135px;
  }
  .language-reveal {
    width: 120px;
    height: 152px;
    overflow: scroll;
    li {
      width: 120px;
    }
  }
  .day-dropdown, .month-dropdown, .year-dropdown {
    font-size: 24px;
    width: 70px;
    background-position-x: 68px;
    li {
      width: 55px;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 560px) {
  #nav-container {
    #navbar {
      width: 490px;
      nav {
        width: 490px;
      }
    }
    h1 {
      width: 490px;
    }
  }
  #subnav {
    width: 490px;
    ul {
      width: 490px;
    }
  }
  .login-form-container {
    .form-wrap {
      width: 490px;
        .login-form {
          width: 490px;
            ul {
              width: 490px;
            }
        }
        .demo-login {
          width: 490px;
        }
    }
  }
  .signup-form-container {
    .form-wrap {
      width: 490px;
    }
  }
}

// Large

@media only screen and (min-width: 1300px) {
  .login-wrap {
    width: 1272px;
    margin: 0 auto;
    .login-signup {
      right: unset;
      margin: unset;
    }
  }
  #nav-container {
    // h1, #subnav ul {
    //   width: 952px;
    //   margin: 0 auto;
    //   position: relative;
    //   right: unset;
    //   top: unset;
    // }
  }
   #navbar {
      width: 1272px;
      nav {
        width: 1272px;
      }
      #links {
        left: -153px;
      }
      h1 {
        width: 1272px;
      }
   }
   #subnav {
      width: 1272px;
      ul {
         width: 1272px;
      }
   }

   .login-form {
    //  width: 1272px;
   }

   .form-wrap {
     width: 1272px;
     justify-content: space-between;
   }
   .demo-login {
     position: relative;
     left: -145px;
   }
   .login-form-container {
     .form-wrap {
       justify-content: normal;
     }
     .demo-login {
       left: unset;
     }
   }
}

// Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

