
#nav-container {
  position: relative;
  display: block;
  background-color: #ffa200;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  height: 286px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 429px;
  padding-top: 25px;
}

#links li {
  border-bottom: 2px solid;
  padding-right: 96px;
}

#links li:first-child {
  border-color: #b4bd00;
}

#links li:last-child {
  border-color: white;
}

#links li:nth-of-type(2) {
  border-color: #6b96c2;
}

#links li:nth-of-type(3) {
  border-color: #ff0;
}

// #links li {
//     padding-top: 8px;
// }

// @media only screen and (min-width: 700px) {
//   #links {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     padding-left: 600px;
//     position: relative;
//   }
  
//   #links li a{
//     padding: 2px 2px 2px 2px;
//   }
// }

#nav-container h1 {
  position: absolute;
  top: 168px;
  font-size: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  margin-left: 173px;
  padding-bottom: 6px;
}



#subnav {
  border-top: 1px solid rgba(97, 71, 71, 0.4);
  position: absolute;
  width: 100%;
  top: 246px;
}

 
  // border-top: 1px solid rgba(97, 71, 71, 0.4);

#subnav ul {
  margin-left: 174px;
}

#subnav li {
  float: left;
  border-left: 1px solid rgba(97, 71, 71, 0.4);
}

#subnav li:hover {
  color: white;
  background-color: white;
}

#subnav li:last-child {
  border-right: 1px solid rgba(97, 71, 71, 0.4);
}

#subnav a {
  display: block;
  color: black;
  padding: 10px 14px;
  line-height: 19px
}

// #subnav-toggle {
//   width: 500px;
//   margin-top: 10px;
//   margin-left: 53px;
//   height: 40px;
//   font-size: 16px;
// }

// select option {
//   margin-left: 5px;
// }

.login-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  position: relative;
  // background-color:  #404040;
}

.signup-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  height: 1000px;
  padding-top: 10px;
  background-color: #2e2e2e;
}

.login-form {
  position: absolute;
  top: 7px;
  left: 175px;
  display: flex;
  flex-direction: column;
  color: white;
  // width: 240px;
}

.login-input {
  box-sizing: border-box;
  padding-left: 7px;
  color: black;
  height: 30px;
  width: 240px;
}

.signup-input {
  height: 30px;
  width: 141px;
  box-sizing: content-box;
  padding-left: 10px;
}

.email-input {
  height: 30px;
  width: 312px;
}


.login-button, .signup-button {
  color: black;
  background-color: #ffa200;
  height: 40px;
  width: 240px;
  text-align: center;
  font-size: 22px;
}

.signup-button {
  width: 300px;
}

.signup-form {
  display: flex;
  flex-flow: column;
  margin-left: 174px;
  margin-top: 20px;
  color: white;
  // background-color: #2e2e2e;
}

.signup-form li {
  display: flex;
  flex-direction: row;
}

.signup-form li:first-child {
  margin-bottom: -5px;
}

.signup-form li div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.signup-form span {
  font-size: 12px;
  color: #9c9c9c;
}

#no-space {
  margin-bottom: 10px;
}

#default-region, #preferred-language {
  box-sizing: content-box;
  padding-left: 10px;
  font-size: 36px;
  height: 53px;
  border: 1px solid black;
  background-color: #ffa200;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-y: center;
  
  background-image: url("/assets/arrow.png");
}

#default-region {
  width: 312px;
  background-position-x: 295px;
  background-size: 13px;
}

#default-region * {
  background-color: #ffa200;
}

#preferred-language {
  width: 154px;
  margin-bottom: 10px;
  background-position-x: 144px;
  background-size: 13px;
}

#default-region:hover, #preferred-language:hover, .login-button:hover, .signup-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#default-region:hover, #preferred-language:hover {
  background-image: url("/assets/arrow copy.png");
  // background-repeat: no-repeat;
  // background-position-y: center;
}

// Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

