
#nav-container {
  position: relative;
  display: block;
  background-color: #ffa200;
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  height: 250px;

  #logo {
    filter: invert(1);
    position: relative;
    left: -4px;
  }
  #logo:hover {
    filter: unset;
  }
}

.navbar {
  width: 960px;
  // height: 215px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  nav {
   display: flex;
   justify-content: space-between;
   width: 960px;
   margin: 0 auto;
  }
  h1 {
    margin: 0 auto;
    width: 960px;
    font-size: 64px;
    letter-spacing: -2px;
    font-weight: 500;
    // line-height: 3em;
    height: 40px;
  }
}


#links {
  position: relative;
  top: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 22px;
  li {
    width: 141px;
    border-bottom: 2px solid;
    box-sizing: content-box;
    padding-left: 8px;
    padding-bottom: 2px;
    margin-right: 8px;
    cursor: pointer;
    &:hover {
      color: black;
    }
    &:last-child {
      padding-left: 0;
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
}

$colors: (#ff0, #6b96c2, #b4bd02, white);
@each $color in $colors {
  $i: index($colors, $color);
  #links li:nth-of-type(#{$i}) {
    border-color: $color;
    &:hover {
      background-color: $color;
    }
  }
}



.subnav-container {
  border-top: 1px solid rgba(97, 71, 71, 0.4);
  background-color: #ffa200;
}


#subnav {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  ul {
   width: 960px;
   margin: 0 auto
  }
  li {
  //  cursor: pointer;
   height: 40px;
   float: left;
   border-left: 1px solid rgba(69,69,69,.4);
    a {
     display: block;
     padding: 10px 14px;
     line-height: 19px;
    }
  }
  li:last-child {
    border-right: 1px solid rgba(69,69,69,.4);
  }
  li:hover, .form:hover {
    background-color: black;
    color: white;
  }
}


// #subnav ul {
//   position: absolute;
//   right: 37%;
//   margin-right: 310px;
// }

// #subnav li {
//   float: left;
//   border-left: 1px solid rgba(97, 71, 71, 0.4);
// }

// #subnav li:hover {
//   color: white;
//   background-color: white;
// }

// #subnav li:last-child {
//   border-right: 1px solid rgba(97, 71, 71, 0.4);
//   padding-right: 5px;
// }



// #subnav a {
//   display: block;
//   color: black;
//   padding: 10px 14px;
//   line-height: 19px
// }

// #subnav-toggle {
//   width: 500px;
//   margin-top: 10px;
//   margin-left: 53px;
//   height: 40px;
//   font-size: 16px;
// }


.login-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  position: relative;
  height: 453px;
  border-bottom: 1px #585858 solid;
  background-color: #404040;
  .demo-login {
    margin: 0 auto;
    width: 674px;
  }
  #demo-notice {
    width: 294px;
    top: -5px;
    border-bottom: 2px solid #ffa200;
    box-sizing: border-box;
    padding-bottom: 2px;
    margin: unset;
  }
  #demo-button {
    margin: unset;
  }
}

.login-form {
  //  width: 960px;
  //  margin: 0 auto;
   display: flex;
   flex-direction: column;
   color: white;
   margin-right: 65px;
  #check-box {
    margin-right: 4px;
    margin-bottom: 12px;
  }
  .error-container {
      width: 230px;
      margin-bottom: 5px;
  }
  .errors {  
      white-space: normal !important;
      color: #e10;
      font-weight: bold;
  }
  #username-error {
    line-height: 9px;
    margin-bottom: 7px;
  }
}

.login-input {
  box-sizing: border-box;
  padding-left: 5px;
  margin-bottom: 9px;
  margin-top: 1px;
  color: black;
  height: 28px;
  width: 240px;
  border-radius: 1px;
}

.password-hold {
  display: flex;
}
.togglePassword {
  cursor: pointer;
  position: relative;
  top: 7px;
  right: 21px;
  width: 0.925em !important;
}
#showPw {
  color: #404040;
  &:hover {
    color: #8d8a8a;
  }
}
#hidePw {
  color: #8d8a8a;
  &:hover {
    color: #404040;
  }
}

// Signup Form


.signup-form-container {
  font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
  max-height: 1100px;
  padding: 20px 0;
  background-color: #2e2e2e;
  border-bottom: 1px #585858 solid;
}

 .form-wrap {
    width: 960px;
    margin: 0 auto;
    display:flex;
  }

.signup-input {
  height: 30px;
  width: 141px;
  box-sizing: content-box;
  padding-left: 10px;
}

.email-input {
  height: 30px;
  width: 312px;
}

.login-button, .signup-button {
  color: black;
  background-color: #ffa200;
  height: 40px;
  width: 240px;
  text-align: center;
  font-size: 24px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.signup-button {
  width: 312px;
}

.signup-form {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  color: white;
  // background-color: #2e2e2e;
  .errors {
    margin-top: 2px;
  }
  #un-signup-error {
    white-space: normal !important;
    width: 153px;
  }
}

.signup-form li {
  display: flex;
  flex-direction: row;
}

.signup-form li:first-child {
  margin-bottom: -5px;
}

.signup-form li div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.signup-form span {
  font-size: 12px;
  color: #9c9c9c;
}

.signup-form input {
  color: black;
  box-sizing: border-box;
  padding-left: 5px;
}

#no-space {
  margin-bottom: 10px;
}


// DROPDOWNS
%dropdown {
  position: relative;
  background-color: #ffa200;
  color: black;
  height: 57px;
  font-size: 36px;
  border: 1px solid black;
  padding-left: 10px;
  -webkit-appearance: none;
  background-image: image_url("arrow.png");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-y: center;
  &:hover {
    background-color: black;
    color: white;
    background-image: image_url("arrowhite.png");
     li {
      color: black;
      background-color: #ffa200;
    }
  }
  li:hover {
    background-color: black;
    color: white;
  }
}

%dropdown-reveal {
  position: absolute;
  display: block;
  left: 0px;
  top: 57px;
  z-index: 1000;
  width: inherit;
  li {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;
    border-bottom: none;
    padding-top: 4px;
    height: 30px;
    border-top: 1px solid black;
    background-color: #ffa200;
     &:hover {
      background-color: black;
      color: white;
    }
  }
}

.region-dropdown {
  @extend %dropdown;
  width: 312px;
  background-position-x: 295px;
}

#default-region-msg {
  margin-bottom: 10px;
}

.language-dropdown {
  @extend %dropdown;
  width: 210px;
  background-position-x: 198px;
}

.birthday-dropdown {
  @extend %dropdown;
  li:hover {
    background-color: black;
    color: white;
  }
}

.day-dropdown {
  padding-left: 17px;
  width: 70px;
  background-position-x: 68px;;
}
.month-dropdown {
  width: 106px;
  background-position-x: 108px;
  padding-left: 22px;
}

.year-dropdown {
  width: 112px;
  background-position-x: 114px;
  padding-left: 22px;
}


.region-reveal, .language-reveal {
  @extend %dropdown-reveal;
  li {
    width: 315px;
    &:first-child {
      line-height: 18px;
      color: black;
      background-color: white;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.language-reveal li {
  width: 154px;
}

.day-reveal, .month-reveal, .year-reveal {
  @extend %dropdown-reveal;
  li {
    width: 70%;
  }
}

.year-reveal, .day-reveal {
  max-height: 180px;
  overflow-y: scroll;
}

.region-hide, .language-hide, .day-hide, .month-hide, .year-hide {
  display: none;
}

// 


#gender {
  margin-bottom: 16px;
}

#gender input {
  margin-right: 4px;
}

#newsletter {
  margin-bottom: 24px;
}

#check-box {
  margin-right: 3px;
}

.demo-login {
  height: 154px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #404040;
}

#demo-notice {
  position: relative;
  top: -22px;
  width: 294px;
  margin: 0 auto;
}

#demo-button {
  height: 46px;
  width: 294px;
  margin: 0 auto;
  background-color: #3b5998;
  font-size: 26px;
  color: white;
  box-sizing: border-box;
  padding-left: 66px;
  background-image: image_url("ravve.png");
  background-size: 38px;
  background-repeat: no-repeat;
  background-position-x: 188px;
  background-position-y: 3px;
}

#demo-button:hover {
  background-color: black;
}

.form {
  background-color: white;
  border: 0px 1px 0px 1px solid black;
}

#member {
  width: 17px;
}

.error-container {
  width: 50%;
}

.errors {
  // position: absolute;
  // top: 232px;
  // left: 165px;
  // display: block;
  white-space: nowrap !important;
  color: #e10;
  font-weight: bold;
  // line-height: 20px;
}

.subnav-toggle {
  display: none;
  width: 674px;
  margin: 0 auto;
}
#normal {
  height: 57px;
}
#expand {
  height: 134px;
}
.subnav-drop {
  width: 630px;
  height: 40px;
  box-sizing: border-box;
  // padding-left: 12px;
  border: 1px solid #6147479e;
  margin-top: 8px;
  background-color: white;
  .reveal {
    background-color: #ffa100;
    position: relative;
    left: -1px;
    li {
      height: 40px;
      // padding: 10px 0 14px 20px;
    }
    li:hover {
      background-color: black;
      color: white;
     
    }
    .log-link {
      white-space: nowrap;
      padding: 11px 0 14px 16px;
    }
  }
  span {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 11px 0px 9px 12px;
    margin: 0 8px 1px 5px;
    background-color: white;
    &:hover {
      width: 100%;
      background-color: black;
      color: white;
      margin: 0 8px 0px 0px;
      box-sizing: border-box;
      padding-left: 17px;
      small {
        margin-right: 22px;
      }
    }
  }
  small {
    font-size: 12px;
  }
}


// .user-profile #expand {
//   height: 97px;
// }

.reveal #user-reveal {
  border-bottom: 1px solid black;
  .log-link {
    padding-right: 460px;
  }
}


// MEDIA QUERIES

@media only screen and (max-width: 972px) {

 
  .navbar {
    // width: 632px;
    width: 675px;
    height: 140px;
    nav {
      width: 675px;
      // width: 632px;
    }
  }

  #nav-container { 
    height: 160px;
    #logo {
      filter: invert(1);
      // right: 25px;
      left: unset;
      top: 0;
      // top: 7px;
      // width: 60px;
      // height: 50px;
      width: 75px;
      height: 70px;
    }
    #links {
      font-size: .75em;
      left: unset;
      right: 90px;
      height: 18px;
      li {
        width: 80px;
      }
    }
    h1 {
      position: relative;
      width: 675px;
      // right: 20px;
      font-size: 48px;
    }
  }

  .subnav-container {
    // height: 57px;
    display: flex;
    align-items: center;
  }

  #subnav {
    display: none;
    width: 674px;
  }

  .subnav-toggle {
    display: flex;
  }

  .login-form {
    width: 674px;
  }

  .form-wrap {
    width: 674px;
    flex-direction: column;
  }
  .signup-form {
      margin-bottom: 20px;
  }
}


@media only screen and (max-width: 700px) {
  #nav-container {
    #logo, #links, h1 {
      right: unset;
    }
    #links {
      height: 18px;
    }
    h1 {
      width: 560px;
    }
  }
  .navbar {
    width: 560px;
    nav {
      width: 560px;
    }
  }
  .subnav-toggle {
    width: 560px;
  }

  .subnav-drop {
    width: 560px;
    span {
      width: 530px;
    }
  }
  // #subnav {
  //   width: 560px;
  //   ul {
  //     width: 560px;
  //   }
  // }
  .login-form-container .form-wrap {
    width: 560px;
    .login-form {
      width: 560px;
      ul {
        width: 560px;
      }
    }
    .demo-login {
      width: 560px;
    }
  }

  .signup-form-container {
    .form-wrap {
      width: 560px;
      flex-direction: column-reverse;
    }
  }
  .signup-form {

  }
  .signup-input {
    width: 151px;
  }
  #email-rows {
    flex-direction: column;
    div:first-of-type {
      margin-bottom: unset;
    }
  }
  .region-dropdown {
    font-size: 22px;
    width: 212px;
    background-position-x: 195px;
  }
  .region-reveal {
    width: 172px;
    height: 152px;
    overflow: scroll;
    li {
      width: 172px;
    }
  }
  #preferred-language {
    font-size: 24px;
    width: 152px;
    background-position-x: 135px;
  }
  .language-reveal {
    width: 120px;
    height: 152px;
    overflow: scroll;
    li {
      width: 120px;
    }
  }
  .day-dropdown, .month-dropdown, .year-dropdown {
    font-size: 24px;
    width: 70px;
    background-position-x: 68px;
    li {
      width: 55px;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 560px) {
  #nav-container {
    .navbar {
      width: 490px;
      nav {
        width: 490px;
      }
    }
    h1 {
      width: 490px;
    }
  }

   .subnav-toggle {
    width: 490px;
  }

  .subnav-drop {
    width: 490px;
    span {
      width: 470px;
    }
    span:hover {
      small {
        margin-right: 14px;
      }
    }
  }


  .login-form-container {
    .form-wrap {
      width: 490px;
        .login-form {
          width: 490px;
            ul {
              width: 490px;
            }
        }
        .demo-login {
          width: 490px;
        }
    }
  }
  .signup-form-container {
    .form-wrap {
      width: 490px;
    }
  }
}

@media only screen and (max-width: 499px) {
  #nav-container {
    .navbar {
      width: 360px;
      nav {
        width: 360px;
        #links {
          width: 240px;
          li a {
            display: inline-block;
            width: 100%;
            padding-right: unset;
          }
        }
      }
    }
    h1 {
      width: 360px;
    }
  }

  //  .subnav-toggle {
  //   width: 490px;
  // }

  // .subnav-drop {
  //   width: 490px;
  //   span {
  //     width: 470px;
  //   }
  //   span:hover {
  //     small {
  //       margin-right: 14px;
  //     }
  //   }
  // }

  .subnav-drop {
    .reveal {
      li {
        height: 38px;
      }
      .log-link {
        padding: 10px 0 14px 16px;
      }
    }
  }


  .login-form-container {
    .form-wrap {
      width: 360px;
        .login-form {
          width: 360px;
            ul {
              width: 360px;
            }
        }
        .demo-login {
          width: 360px;
        }
    }
  }
  .signup-form-container {
    .form-wrap {
      width: 360px;
    }
  }
  #lang-bday {
    flex-direction: column;
  }
}

// Large

@media only screen and (min-width: 1300px) {
  .login-container {
    width: 1272px;
  }
  .login-wrap {
    // width: 1272px;
    // margin: 0 auto;
    .login-signup {
      right: unset;
      margin: unset;
    }
  }
  #nav-container {
    // h1, #subnav ul {
    //   width: 952px;
    //   margin: 0 auto;
    //   position: relative;
    //   right: unset;
    //   top: unset;
    // }
  }
   .navbar {
      width: 1272px;
      nav {
        width: 1272px;
      }
      #links {
        left: -153px;
      }
      h1 {
        width: 1272px;
      }
   }
   #subnav {
      width: 1272px;
      ul {
         width: 1272px;
      }
   }

   .login-form {
    //  width: 1272px;
   }

   .form-wrap {
     width: 1272px;
     justify-content: space-between;
   }
   .demo-login {
     position: relative;
     left: -145px;
   }
   .login-form-container {
     .form-wrap {
       justify-content: normal;
     }
     .demo-login {
       left: unset;
     }
   }
}

// Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

