.news-show {
    border-bottom: 1px solid #575757;

}

.news-nav-container {
  // background-color: #b4be00;
  background-color: #b3c702;
  // height: 374px;
  min-height: 310px;
}

.news-nav {
  width: 952px;
  min-height: 310px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  nav {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    #links {
      height: 22px;
      position: relative;
      left: unset;
      // li:nth-of-type(3) {
      //   border-color:  white;
      // }
    }
    #logo {
      position: relative;
      right: unset;
      top: unset;
      margin: unset;
      left: -4px;
      filter: unset;
    }
    #logo:hover {
      filter: invert(1);
    }
  }
  // h1 {
  //   letter-spacing: -2px;
  //   line-height: 2em;
  //   font-size: 64px;
  //   margin: 0 auto;
  //   width: 960px;
  //   font-weight: normal;
  // } 
}

.news-header {
  margin: 0 auto;
  width: 952px;
  a {
    color: white;
    position: relative;
    // top: 12px;
  }
  a:hover {
    filter: invert(1);
  }
  #prev {
    position: relative;
    top: 2px;
    width: 16px;
    // background-color: black;
    border-radius: 50%;
  }
  h1 {
    font-size: 64px;
    width: 952px;
    margin: 0 auto;
    line-height: 1em;
    letter-spacing: -2px;
    padding-bottom: 10px;
  }
}