.search-container {
  height: 75px;
  background-color: white;
  padding: 20px 0;
  display: none;
}

#searchbar {
  width: 960px;
  margin: 0 auto;
}

#search-input {
  width: 630px;
  font-size: 34px;
  line-height: 75px;
  // border: 0;
  border: 2px solid blue;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  float: left;
  color: #1a1a1a;
  box-sizing: border-box;
  padding-left: 5px;
}

#search-button-container {
  background-color: #ffa200;
  border: none;
  font-size: 18pt;
  width: 310px;
  height: 75px;
  // padding-top: 18px;
  float: right;
  box-sizing: border-box;
  text-align: center;
}

#search-button {
  padding: 6px 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#search-button:hover {
  background-color: black;
  color: white;
}

// #query {
//   display: none;
//   position: absolute;
//   top: 161px;
//   left: 80px;
//   color: #fff;
//   background-color: #2e2e2e;
//   border-style: solid;
//   border-width: 0 0 1px 0;
//   border-color: #454545;
//   padding: 10px 0 10px 10px;
//   overflow: hidden;
//   line-height: 24px;
//   z-index: 1001;
//   font-size: 16px;
//   width: 472px;
// }


// #query:hover {
//   background-color: black;
// }

// #search-link {
//   padding: 13px 435px 13px 0;
//   white-space: nowrap;
//   text-transform: capitalize;
// }

#searchlist {
  position: absolute;
  top: 161px;
  z-index: 1001;
  line-height: 24px;
  width: 472px;
  height: 370px;
  overflow: scroll;
}

#dj-query-container {
  color: #fff;
  background-color: #2e2e2e;
}

#genre-query-container {
  background-color: #484747;
  color: black;
}

.query-item {
  border-style: solid;
  border-width: 1px 0px 1px 0;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  strong {
    // font-size: 18px;
  }
  small {
    // font-size: 16px;
    color: #797979;
  }
}
.query-item:last-of-type {
  border-bottom: none;
}

#dj-query-item {
  border-color: #454545;
}
#dj-query-item:hover {
  background-color: black;
}

#genre-query-item {
  border-color: #2e2e2e;
}
#genre-query-item:hover {
  background-color: white;
}

@media only screen and (min-width: 1300px){
  #searchbar {
    width: 1272px;
  }
  #search-input {
    width: 792px;
  }
  #search-button-container {
    margin-right: 162px;
  }
}