.search-container {
  position: relative;
  height: 75px;
  background-color: white;
  padding: 20px 0;
  // display: none;
}

.hide-search {
  background-color: transparent;
  color: currentColor;
  border-bottom: unset;
}
.show-search {
  background-color: white !important;
  color: black;
  border-bottom: 3px solid white;
  padding-top: 2px;
}

#searchbar {
  width: 960px;
  margin: 0 auto;
}

#search-input {
  width: 630px;
  font-size: 34px;
  line-height: 75px;
  // border: 0;
  border: 2px solid #005fcc;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  float: left;
  color: #1a1a1a;
  box-sizing: border-box;
  padding-left: 5px;
}

#search-button-container {
  background-color: #ffa200;
  border: none;
  font-size: 18pt;
  width: 310px;
  height: 75px;
  // padding-top: 18px;
  float: right;
  box-sizing: border-box;
  text-align: center;
}

#search-button {
  padding: 6px 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: black;
    color: white;
  }
  a {
    // display: inline-block;
  }
}


// #query {
//   display: none;
//   position: absolute;
//   top: 161px;
//   left: 80px;
//   color: #fff;
//   background-color: #2e2e2e;
//   border-style: solid;
//   border-width: 0 0 1px 0;
//   border-color: #454545;
//   padding: 10px 0 10px 10px;
//   overflow: hidden;
//   line-height: 24px;
//   z-index: 1001;
//   font-size: 16px;
//   width: 472px;
// }


// #query:hover {
//   background-color: black;
// }

// #search-link {
//   padding: 13px 435px 13px 0;
//   white-space: nowrap;
//   text-transform: capitalize;
// }

#searchlist {
  position: absolute;
  // top: 161px;
  top: 115px;
  z-index: 1001;
  line-height: 24px;
  width: 472px;
  height: 370px;
  overflow: scroll;
}

#dj-query-container {
  color: #fff;
  background-color: #2e2e2e;
}

#genre-query-container {
  // background-color: #484747;
  // color: black;
  background-color: #484747;
  color: darkgrey;
}

#event-query-container {
  // color: #fff;
  // background-color: #8e8e8e;
  color: #404040;
  background-color: #8e8e8e;
}

.query-item {
  border-style: solid;
  border-width: 1px 0px 1px 0;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  strong {
    // font-size: 18px;
  }
  small {
    // font-size: 16px;
    color: #797979;
  }
}
.query-item:last-of-type {
  border-bottom: none;
}
.query-item:hover {
  strong {
    font-weight: bold;
  }
}

#dj-query-item {
  border-color: #454545;
}
#dj-query-item:hover {
  background-color: black;
}

#genre-query-item {
  border-color: #2e2e2e;
}
#genre-query-item:hover {
  background-color: #636363;
  color: #cccccc;
  small {
    color: #a5a3a3;
  }
}

#event-query-item {
  border-color: #1f1e1e;
  small {
    color: #636262;
  }
}
#event-query-item:hover {
  // background-color: #333333;
  background-color: #d8d8d8;
}


// SEARCH PAGE

.search-page {
  border-bottom: 1px solid #575757;
}

.search-main {
  background-color: #2e2e2e;
  .search-container {
    display: block;
  }
  #search-input {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
.results {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  color: white;
  h1 {
    font-size: 24px;
    color: #fff;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    margin: 0 0 4px 0;
  }
}
.dj-results {
  margin-bottom: 20px;
  h1 {
    border-color: #ffff01;
  }
  a:hover {
    background-color: #ffff01;
    color: #1e1e1e;
  }
}
.event-results {
  margin-bottom: 20px;
  h1 {
    border-color: #6a96c2;
  }
  a:hover {
    background-color: #6a96c2;
  }
  span {
    color: #9c9c9c;
  }
}
.genre-results {
  margin-bottom: 20px;
  h1 {
    border-color: #b4bd00;
  }
  a:hover {
    background-color: #b4bd00;
    color: #1e1e1e;
  }
}

#no-results {
  color: white;
  font-size: 28px;
  b {
    color: #ffa200;
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 972px) {
  #searchbar {
    width: 674px;
    display: flex;
  }
  #search-input {
    width: 394px;
    margin-right: 10px;
  }
  #search-button-container {
    width: 185px;
  }
  #searchlist {
    // top: 172px;
    // left: 68px;
    width: 395px;
  }

  .search-main {
    #search-input {
      width: 524px;
      line-height: 36px;
      font-size: 30px;
    }
    #search-button-container {
      width: 140px;
      height: 37px;
      font-size: 18px;
    }
  }
  .results {
    width: 675px;
  }
}

@media only screen and (max-width: 700px) {
  .search-container {
    height: 55px;
  }
  #searchbar {
    width: 550px;
    padding-top: 10px;
  }
  #search-input {
    width: 400px;
    height: 35px;
    font-size: 32px;
  }
  #search-button-container {
    font-size: 16pt;
    width: 130px;
    height: 35px;
  }
  #searchlist {
    top: 95px;
    // left: 40px;
    width: 400px;
  }
  .search-page {
    #nav-container {
      height: 110px;
    }
    .navbar {
      height: 110px;
      nav {
        height: 60px;
        // width: 589px;
      }
      h1 {
        height: unset;
        font-size: 38px;
      }
    }
    #logo {
      right: 4px;
    }
    
  }
  .search-main {
    .search-container {
      background-color: #2e2e2e;
      border-bottom: 1px solid #575757;
      height: 144px;
    }
    #searchbar {
      display: block;
      // width: 98%;
      width: 560px;
      padding: 16px 0;
    }
    #search-input {
      width: 100%;
      height: 48px;
      font-size: 1em;
      line-height: 2em;
      padding: 8px 16px;
      box-sizing: border-box;
      border: unset;
      border-radius: unset;
      margin-bottom: 20px;
      outline: 0;
      &:focus {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
    #search-button-container {
      width: 100%;
      font-size: 24px;
      height: 44px;
    }
    #searchlist {
      top: 184px;
      width: 560px;
    }
  }
  .results {
    width: 560px;
    padding: 10px 0;
    h1 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 560px) {
  #searchbar {
    width: 480px;
  }
  #search-input {
    width: 340px;
    font-size: 28px;
    border: unset;
    border-radius: unset;
  }
  #searchlist {
    // left: 31px;
    width: 345px;
  }

  .search-main {
    #searchbar, #searchlist {
      width: 490px;
    }
  }
  .results {
    width: 490px;
  }
}

@media only screen and (max-width: 499px) {
  #searchbar {
    width: 355px;
    padding-top: unset;
  }
  #search-input {
    box-sizing: border-box;
    line-height: 35px;
    font-size: 22px;
    margin-bottom: 5px;
  }
  #search-button-container {
    font-size: 14pt;
    width: 90px;
    height: 30px;
    float: left;
  }
  #search-button {
    // margin-top: 5px;
    background-color: #ffa200;
  }
  #search {
    padding-left: 4px !important;
  }
  .show-search {
    padding: 0 4px;
  }

  .search-main {
    .search-container {
      height: 102px;
      padding: 0;
    }
    #search-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // height: 100px;
    }
    #searchbar {
      // width: 375px;
      width: 100%;
      padding: 1px 0;
    }
    #search-input {
      margin-bottom: 2px;
    }
    #search-button-container {
      height: 48px;
    }
    #searchlist {
      // top: 121px;
      // max-height: 196px;
      // overflow: scroll;
      top: 50px;
      width: 375px;
    }
  }
  .results {
    width: 360px;
  }
  #no-results {
    font-size: 20px;
  }
}
// Large

@media only screen and (min-width: 1300px){
  #searchbar {
    width: 1272px;
  }
  #search-input {
    width: 792px;
  }
  #search-button-container {
    // margin-right: 162px;
  }
  .results {
    width: 1272px;
  }
}