.search-container {
  position: relative;
  height: 75px;
  background-color: white;
  padding: 20px 0;
  display: none;
}

.hide-search {
  background-color: transparent;
  color: currentColor;
  border-bottom: unset;
}
.show-search {
  background-color: white !important;
  color: black;
  border-bottom: 2px solid white;
}

#searchbar {
  width: 960px;
  margin: 0 auto;
}

#search-input {
  width: 630px;
  font-size: 34px;
  line-height: 75px;
  // border: 0;
  border: 2px solid blue;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  float: left;
  color: #1a1a1a;
  box-sizing: border-box;
  padding-left: 5px;
}

#search-button-container {
  background-color: #ffa200;
  border: none;
  font-size: 18pt;
  width: 310px;
  height: 75px;
  // padding-top: 18px;
  float: right;
  box-sizing: border-box;
  text-align: center;
}

#search-button {
  padding: 6px 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#search-button:hover {
  background-color: black;
  color: white;
}

// #query {
//   display: none;
//   position: absolute;
//   top: 161px;
//   left: 80px;
//   color: #fff;
//   background-color: #2e2e2e;
//   border-style: solid;
//   border-width: 0 0 1px 0;
//   border-color: #454545;
//   padding: 10px 0 10px 10px;
//   overflow: hidden;
//   line-height: 24px;
//   z-index: 1001;
//   font-size: 16px;
//   width: 472px;
// }


// #query:hover {
//   background-color: black;
// }

// #search-link {
//   padding: 13px 435px 13px 0;
//   white-space: nowrap;
//   text-transform: capitalize;
// }

#searchlist {
  position: absolute;
  // top: 161px;
  top: 115px;
  z-index: 1001;
  line-height: 24px;
  width: 472px;
  height: 370px;
  overflow: scroll;
}

#dj-query-container {
  color: #fff;
  background-color: #2e2e2e;
}

#genre-query-container {
  // background-color: #484747;
  // color: black;
  background-color: #484747;
  color: darkgrey;
}

#event-query-container {
  // color: #fff;
  // background-color: #8e8e8e;
  color: #404040;
  background-color: #8e8e8e;
}

.query-item {
  border-style: solid;
  border-width: 1px 0px 1px 0;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  strong {
    // font-size: 18px;
  }
  small {
    // font-size: 16px;
    color: #797979;
  }
}
.query-item:last-of-type {
  border-bottom: none;
}
.query-item:hover {
  strong {
    font-weight: bold;
  }
}

#dj-query-item {
  border-color: #454545;
}
#dj-query-item:hover {
  background-color: black;
}

#genre-query-item {
  border-color: #2e2e2e;
}
#genre-query-item:hover {
  background-color: #636363;
  color: #cccccc;
  small {
    color: #a5a3a3;
  }
}

#event-query-item {
  border-color: #1f1e1e;
  small {
    color: #636262;
  }
}
#event-query-item:hover {
  // background-color: #333333;
  background-color: #d8d8d8;
}

// Small

@media only screen and (max-width: 972px) {
  #searchbar {
    width: 674px;
    display: flex;
  }
  #search-input {
    width: 394px;
    margin-right: 10px;
  }
  #search-button-container {
    width: 185px;
  }
  #searchlist {
    // top: 172px;
    // left: 68px;
    width: 395px;
  }
}

@media only screen and (max-width: 700px) {
  .search-container {
    height: 55px;
  }
  #searchbar {
    width: 550px;
    padding-top: 10px;
  }
  #search-input {
    width: 400px;
    height: 35px;
    font-size: 32px;
  }
  #search-button-container {
    font-size: 16pt;
    width: 130px;
    height: 35px;
  }
  #searchlist {
    top: 95px;
    // left: 40px;
    width: 400px;
  }
}

@media only screen and (max-width: 560px) {
  #searchbar {
    width: 480px;
  }
  #search-input {
    width: 340px;
    font-size: 28px;
  }
  #searchlist {
    // left: 31px;
    width: 345px;
  }
}

@media only screen and (max-width: 499px) {
  #searchbar {
    width: 355px;
    padding-top: unset;
  }
  #search-input {
    box-sizing: border-box;
    line-height: 35px;
    font-size: 22px;
    margin-bottom: 5px;
  }
  #search-button-container {
    font-size: 14pt;
    width: 90px;
    height: 30px;
    float: left;
  }
  #search-button {
    // margin-top: 5px;
    background-color: #ffa200;
  }
  #search {
    padding-left: unset;
  }
  #search:active {
    padding-bottom: 0;
    padding-left: 2px;
  }
}
// Large

@media only screen and (min-width: 1300px){
  #searchbar {
    width: 1272px;
  }
  #search-input {
    width: 792px;
  }
  #search-button-container {
    margin-right: 162px;
  }
}