.splash-header-container {
  position: relative;
  background-image: image_url("berlin-rave.png");
  background-repeat: no-repeat;
  background-size: 1565px;
  background-position: center;
  background-position-x: 1px;
  height: 575px;
  width: 100%;
}

#logo {
  position: absolute;
  left: 161px;
  top: -3px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(7px -2px 7px #2e2e2e);
}

#logo:hover {
  filter: invert(1) drop-shadow(-14px 5px 5px white);
}

#splash-navbar {
  background-image: image_url("logo.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: 168px;
}

#berlin-rave {
  width: 100%;
  height: 575px;
  filter: contrast(0.8);
}

.splash-content-container {
  position: relative;
  // background-image: image_url("logo.png");
}

.main-banner {
  // background-image: image_url("logo.png");
  // background-repeat: no-repeat;
  // background-size: 100px;
  // background-position-x: 168px;
  position: absolute;
  top: -4px;
  width: 100%;
  background-color: #b3be1b;
  color: white;
  height: 70px;
}

.main-banner h1 {
  position: absolute;
  left: 160px;
  top: 15px;
  font-size: 36px;
  // font-weight: bold;
  letter-spacing: -1px;
}

.main-banner h1:hover {
  opacity: 80%;
  // font-weight: bold;
  color: #ff0;
  color: #2e2e2e;
  background-image: image_url("ravve.png");
  cursor: image_url("vinyl-record2.png"), auto;
  background-size: 15%;
  // background-position: center;
  background-repeat: no-repeat;
  background-position-x: -3.9px;
  background-position-y: 10px;
  filter: drop-shadow(2px 4px 6px black);  
} 

.main-banner h1:first-letter:hover {
   font-weight: bold;
   font-size: 50px;
}