.splash-header-container {
  position: relative;
  background-image: image_url("red-rave.png");
  background-repeat: no-repeat;
  background-size: 1565px;
  background-position: center;
  background-position-x: 1px;
  height: 575px;
  width: 100%;

  #links {
    position: absolute;
    top: 24px;
    left: 490px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    color: white;
  }
}

#logo {
  position: absolute;
  left: 161px;
  top: -3px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(7px -2px 7px #2e2e2e);
  z-index: 1000;
}

#logo:hover {
  filter: invert(1) drop-shadow(-14px 5px 5px white);
}

#splash-navbar {
  background-image: image_url("logo.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: 168px;
}



#berlin-rave {
  width: 100%;
  height: 575px;
  filter: contrast(0.8);
}

// .splash-content-container {
//   position: relative;
//   background-color: #595959;
//   border-bottom: 1px #7a7a7a solid;
//   height: 500px;
//   // background-image: image_url("logo.png");
// }

.main-banner {
  // background-image: image_url("logo.png");
  // background-repeat: no-repeat;
  // background-size: 100px;
  // background-position-x: 168px;
  position: relative;
  top: -4px;
  width: 100%;
  background-color: #b3be1b;
  color: white;
  min-height: 70px;
  z-index: 8;
}

.denizen-confidant {
  position: relative;
  float: left;
  margin: 14px 14px 0 0;
  text-align: center;
  left: 160px;
  /* top: 15px; */
  font-size: 36px;
  letter-spacing: -1px;
}

.denizen-confidant:hover {
  opacity: 80%;
  // font-weight: bold;
  color: #ff0;
  color: #2e2e2e;
  background-image: image_url("ravve.png");
  cursor: image_url("vinyl-record2.png"), auto;
  background-size: 15%;
  // background-position: center;
  background-repeat: no-repeat;
  background-position-x: -3.9px;
  background-position-y: 10px;
  filter: drop-shadow(2px 4px 6px black);  
} 

.main-banner h1:first-letter:hover {
   font-weight: bold;
   font-size: 50px;
}

.days {
  display: flex;
  position: absolute;
  right: 165px;
  border-right: 1px solid white;

    .day {
      line-height: 31px;
      font-size: 12px;
      box-sizing: border-box;
      padding-left: 11px;
      border-left: 1px solid white;
      width: 80px;
      height: 70px;
    }

    :nth-of-type(3) {
      background-color: white;
      color: black;
    }

    h1 {
      font-size: 36px;
      padding-left: 19px;
      line-height: 13px;
    }

    :hover {
      background-color: black;
      color: white;
    }
} 

#splash-caption, #neon-caption {
  position: absolute;
  bottom: 290px;
  left: 159px;
  color: white;
  font-size: 35px;

    :last-child {
      opacity: 70%;
    }
}

#neon-caption {
  left: 520px;
  bottom: 242px;
}

// .image-slider {
//   position: absolute;
//   top: 70px;
//   display: block;
//   margin: 0px;
//   padding: 0px;
//   border: 0px;
//   overflow: hidden;
//   width: 896px;
//   height: 503px;
//   background: rgb(0, 0, 0);
// }

.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}

.slide-container {
  width: 100%;
  margin: auto; }
 
h3 {
  text-align: center; }
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}
 
.each-slide span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
 
.each-fade {
  //  width: 1420px;
  height: 575px;
  // height: 100%;
  display: flex;

  .image-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -119px;

    img {
      width: 105%;
    }
  }

  img:first-of-type {
    float: inline-start;
  }

}

 
.each-fade h2 {
  bottom: 84px;
  color: yellow;
  position: absolute;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #adceed;
}

 .react-slideshow-container .nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 35px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-slideshow-container {
  display: flex;
  align-items: center;
}

.react-slideshow-container .nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-slideshow-container .nav span {
  display: block;
  width: 10px;
  height: 10px;
  border-color: #000;
  border-style: solid;
  transform: rotate(45deg);
}

.react-slideshow-container .nav.disabled span {
  border-color: #666;
}

.react-slideshow-container .nav:hover {
  background: white;
  color: #666;
}

.react-slideshow-container .nav.disabled:hover {
  cursor: pointer;
}

.react-slideshow-container .nav:first-of-type {
  position: absolute !important;
  opacity: 30% !important;
  left: 121px !important;
  margin-right: -30px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:first-of-type span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:last-of-type {
  margin-left: -147px !important;
  opacity: 30% !important;
}

.react-slideshow-container .nav:last-of-type span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}

.react-slideshow-container + div.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15px !important;
  margin-left: 787px !important;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator {
  opacity: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: -21px 5px 10px !important;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  z-index: 1000 !important;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator:hover {
  background: #666;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator.active {
  opacity: 100% !important;
  background: white !important;
}


.splash-content-container {
  font-family: Helvetica;
  position: relative;
  background-color: #595959;
  border-bottom: 1px #7a7a7a solid;
  height: 1000px;
  // height: 1000px;
  // background-image: image_url("logo.png");

  // .content {
  //   position: relative;
  //   top: 87px;
  //   left: 163px;
  //   color: #b4bd00;

  //   h2 {
  //     position: absolute;
  //     color: white;
  //     border-bottom: 2px solid #b4bd00;
  //     width: 951px;
  //     line-height: 27px;
  //   }

  //   h3 {
  //     position: absolute;
  //       right: 329px;
  //     top: -13px;
  //     background-color: #b4bd00;
  //     width: 140px;
  //   }

  //   .articles {
  //     position: relative;
  //     top: 50px;
  //     left: -300px;

  //     img {
  //       height: 230px;
  //       width: 342px;
  //     }

  //     #underground {
  //       position: absolute;
  //       left: 300px;
  //     }

  //     #accessories {
  //       position: absolute;
  //       right: 186px;
  //       top: 174px;
  //     }

  //     li {
  //       display: flex;
  //       flex-direction: row-reverse;

      
  //       h1 {
  //         font-size: 30px;
  //         line-height: 1em;
  //         height: 64px;
  //         margin-left: 20px;

  //         :last-of-type {
  //             position: absolute;
  //             left: -34px;
  //         }
  //       }
  //     }

      

  //     a {
  //       display: flex;
  //       flex-direction: row-reverse;
  //       margin-right: 113px;
  //       :hover {
  //         background-color: #b4bd00;
  //         color: #2a2a2a;
  //       }
  //     }
  //   }
  // }

  // #acc-capt {
  //   position: absolute;
  //   left: 281px;
  //   top: 335px; 
  //   background-image: image_url("pacifier.png");
  //   background-repeat: no-repeat;
  //   background-position-x: 300px;
  //   background-position-y: 34px;
  // }

  // #und-capt {
  //   position: relative;
  //   right: 58px;
  // }
}

// @media only screen and (max-width: 1299px) and (min-width: 980px) {
   .content {
      color: #b4bd00;
      position: relative;
      padding: 20px 0;
      margin: 0 auto;
      width: 952px;

      .news-banner {
        padding-right: 8px;
        color: #fff;
        font-size: 16px;
        h1 {
          border-bottom-color: #b4bd00;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          padding-bottom: 2px;
          margin: 0 0 4px 0;
        }
        h2 {
          position: relative;
          text-align: center;
          display: block;
          color: #b4bd00;
          background-color: #b4bd00;
          float: right;
          width: 152px;
          margin-top: -30px;
          height: 24px;
          font-size: 12px;
          // background-color: transparent;
          // padding: 6px 0;
          z-index: 2;
        }
      }
      .articles {
        width: 960px;
        .main-article {
           min-height: 212px;
           article {
           a { 
            div{
              #main-image { 
                float: left;
                width: 320px;
                padding-right: 8px;
                #underground, #accessories{
                  margin-bottom: 6px;
                  vertical-align: middle;
                  width: 100%;
                }
              }
              #caption {
                // display: inline;
                // display: inline-flex;
                padding-top: 26px;
                font-size: 36px;

              }
              // #caption2 { 

              //   #acc-capt {
              //     position: relative;
              //     font-size: 36px;
              //     left: 327px;
              //     top: -210px;
              //     background-image: image_url("pacifier.png");
              //      background-repeat: no-repeat;
              //   }
              // }
            }

           }
          }
          #accessories {
            position: relative;
            width: 33%;
            left: -328px;
            float: left;
            top: 10px;
           
          }

             #caption2 { 

                #acc-capt {
                  position: relative;
                  font-size: 36px;
                  left: -316px;
                  bottom: -18px;
                  background-image: image_url('pacifier.png');
                  background-repeat: no-repeat;
                  background-position-x: 849px;
                  background-position-y: 47px;
                  background-size: 33px;
                }
              }
            
        }
      }
    }
// }
      .beats {
         color: #b4bd00;
         position: relative;
         top: 65px;
         padding: 25px 170px;
         margin: 0 auto;
         width: 952px;
         border-top: 1px solid #676767;
        .beats-banner {
          padding-right: 8px;
          color: #fff;
          font-size: 16px;
        h1 {
          border-bottom-color: #b4bd00;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          padding-bottom: 2px;
          margin: 0 0 4px 0;
        }
        h2 {
          position: relative;
          text-align: center;
          display: block;
          color: #b4bd00;
          background-color: #b4bd00;
          float: right;
          width: 152px;
          margin-top: -30px;
          height: 24px;
          font-size: 12px;
          // background-color: transparent;
          // padding: 6px 0;
          z-index: 2;
        }
        }
      }





