$djbg-grey: #1e1e1e;
$dj-yellow: #ffff01;
$genre-green: #b4bd00;
$event-blue: #6a96c2;

@mixin text-hover($color, $background) {
  &:hover {
    color: $color;
    background-color: $background;
  }
}

@mixin bg-image($image, $repeat, $size, $position: center) {
  background-image: image_url($image);
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}

.splash-header-container {
  position: relative;
  @include bg-image("red-rave.png", no-repeat, cover, 1px center);
  height: 575px;
  width: 100%;

  .navbar {
    width: 966px;
    nav {
      width: 966px;
    }
  }

  #links {
    top: 24px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    color: white;
    li {
      background: #00000014;
    }
  }
}

#search {
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  // border-bottom: 2px solid white;
}

#logo {
  cursor: pointer;
  top: -3px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(7px -2px 7px #2e2e2e);
  z-index: 1000;
  &:hover {
    filter: invert(1);
  }
}



#splash-navbar {
  @include bg-image("logo.png", no-repeat, 100px, 168px center);
}

#berlin-rave {
  width: 100%;
  height: 575px;
  filter: contrast(0.8);
}

.main-banner {
  display: flex;
  justify-content: center;
  position: relative;
  top: -4px;
  width: 100%;
  background-color: #b3be1b;
  color: white;
  min-height: 70px;
  z-index: 8;
}

.banner-hold {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

@function randNum($min, $max) {
  $rand: random();
  $randNum: $min + floor($rand * (($max - $min) + 1));
  @return $randNum;
}

 $nums: (0,1,2,3,4,5,6,7,8,9);
  @each $num in $nums {
    #bg#{$num} {
       @include bg-image("rave#{$num}.png", no-repeat, 11%, -0.4px 12px);
    }
  }

  #bg2 {
    background-size: 9%;
    background-position: 0.5px 7px;
  }

  #bg3 {
    background-size: 9%;
    background-position: 0.5px 7px;
  }

  #bg9 {
    background-size: 8%;
    background-position: 0.6px 9px;
  }

  #bgnone {
    background-image: none;
  }

.denizen-confidant {
  @include bg-image("rave2.png", no-repeat, 8%, 0.6px 9px);
  float: left;
  margin: 14px 14px 0 0;
  text-align: center;
  font-size: 36px;
  letter-spacing: -1px;
  max-height: 27px;
  &:hover {
    // height: 29px;
    cursor: default;
    // @include bg-image("ravve.png", no-repeat, 11%, -0.4px 12px);
    // @include bg-image("rave#{randNum(0, 9)}.png", no-repeat, 11%, -0.4px 12px);
  }
}

.denizen-confidant::first-letter {
  overflow: hidden;
}

.days {
  display: flex;
  float: right;
  border-right: 1px solid white;

    .day {
      line-height: 31px;
      font-size: 12px;
      box-sizing: border-box;
      padding-left: 11px;
      border-left: 1px solid white;
      width: 80px;
      height: 70px;
    }

    :nth-of-type(3) {
      background-color: white;
      color: black;
    }

    h1 {
      font-size: 36px;
      padding-left: 19px;
      line-height: 13px;
    }

    :hover {
      background-color: black;
      color: white;
    }
} 


// Image Carousel 

#splash-caption {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  color: white;
  font-size: 35px;
  h1 {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }
}


.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}

.slide-container {
  width: 100%;
  margin: auto; 
  // display: none;
  position: absolute;
  top: 0px;
}
 
h3 {
  text-align: center; 
}
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}
 
.each-slide span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
 
.each-fade {
  //  width: 1420px;
  height: 575px;
  // height: 100%;
  display: flex;

  .image-container {
    width: 100%;
    height: 575px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    img {
      width: 100%;
      position: relative;
      bottom: 20px;
      display: none;
    }
  }
  img:first-of-type {
    float: inline-start;
  }
}

#redrave {
  @include bg-image('red-rave.png', repeat, cover, center);
}
#ethereal {
  @include bg-image('ethereal-rave.png', repeat, cover, center);
}
#ravenite {
  @include bg-image('rave-nite.png', repeat, cover, center);
}
#tbilisi {
  @include bg-image('tbilisi-rave.png', repeat, cover, center);
}
#neon {
  @include bg-image('rave.jpg', repeat, cover, center);
}
#berghain {
  @include bg-image('berghain.png', repeat, cover, center);
}
 
.each-fade h2 {
  bottom: 84px;
  color: yellow;
  position: absolute;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #adceed;
}


.react-slideshow-container {
  display: flex;
  align-items: center;
  background-color: black;
}

.react-slideshow-container .nav {
  display: none !important;
}

.react-slideshow-container + div.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15px !important;
  margin-left: 787px !important;
  position: relative;
  // top: -290px;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator {
  opacity: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: -21px 5px 10px !important;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  z-index: 1000 !important;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator:hover {
  background: #666;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator.active {
  opacity: 100% !important;
  background: white !important;
}

.arrow-hold {
  width: 960px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

#left-arrow, #right-arrow {
    background: rgba(255, 255, 255, 0.6);
    // background: #ffffff99;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
}

// Mid Section

.splash-content-container {
  font-family: Helvetica;
  position: relative;
  background-color: #595959;
  border-bottom: 1px #7a7a7a solid;
  // height: 1000px;
}

.content {
  color: #b4bd00;
  position: relative;
  padding: 8px 0;
  margin: 0 auto;
  width: 100%;
}

.news-banner {
  margin: 0 auto;
  width: 958px;
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
    h1 {
      border-bottom: 2px solid #b4bd00;
      padding-bottom: 2px;
      margin: 0 0 4px 0;
    }
    h2 {
      position: relative;
      text-align: center;
      display: block;
      color: #b4bd00;
      background-color: #b4bd00;
      float: right;
      width: 152px;
      margin-top: -30px;
      height: 24px;
      font-size: 12px;
      z-index: 2;
    }
}
      
.newsbar {
  overflow: hidden;
  white-space: nowrap;
  // padding-top: 32px;
  width: 960px;
  margin: 0 auto;
  a h1:hover {
    @include text-hover(#2a2a2a, $genre-green);
  }
}

.main-news {
  display: flex;
  p {
    color: #b4b4b4;
  }
  h1 {
    font-size: 31px;
    line-height: 1.15em;
    display: inline;
  }
}
.main-news-hold {
  margin-top: 16px;
}

.newslist {
  padding: 0;
  margin: 0;
  font-size: 12px;
  li {
    width: 152px;
    min-height: 300px;
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding-right: 9px;
  }
}

.newspiece {
  p {
    color: #b4b4b4;
  }
  img {
    vertical-align: middle;
    width: 100%;
    height: 100px;
    margin-bottom: 6px;
  }
  a {
    font-size: 16px;
    line-height: 1.15em;
    display: inline;
  }
}

.news-date {
  font-size: 11px;
  margin-bottom: 5px;
}
.news-blurb {
  margin-top: 5px;
}

.nahuel-frame {
  display: flex;
  margin: 0 8px 6px 0;
  // background-image: cross-fade(
  //   image_url('nahuel.png'),
  //   image_url('nahuel.png'), 50%
  // );
}

#nahuel {
  width: 170px;
  height: 206px;
  object-fit: contain;
  border-left: 1px solid #414344;
}
#nahuel-pre {
  filter: blur(4px);
  width: 144px;
  height: 206px;
}




.beats {
  display: flex;
  align-items: center;
  flex-direction: column;
  // color: #b4bd00;
  color: $dj-yellow;
  position: relative;
  top: 65px;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #676767;
  border-bottom: 1px solid #3e3e3e;
  // padding-bottom: 40px;
  background-color: $djbg-grey;
//  border-bottom: 1px #4b4b4b solid;
}

.yellow-banner {
  background-color: $dj-yellow;
  margin-bottom: 32px;
}

#splash-djs {
  color: black;
  float: left;
  margin: 14px 14px 0 0;
  font-size: 36px;
}

.beats-banner {
  width: 960px;
  padding-top: 18px;
  color: #fff;
  font-size: 16px;
  h1 {
    // border-bottom: 2px solid #b4bd00;
    border-bottom: 2px solid $dj-yellow;
    padding-bottom: 2px;
    margin: 0 0 4px 0;
  }
  h2 {
    position: relative;
    text-align: center;
    display: block;
    // color: #b4bd00;
    color: $dj-yellow;
    // background-color: #b4bd00;
    background-color: $dj-yellow;
    float: right;
    width: 152px;
    margin-top: -30px;
    height: 24px;
    font-size: 12px;
    z-index: 2;
  }
}
      
.beatwrap {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 32px;
  width: 956px;
}
.beatlist {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
          
.song {
  width: 152px;
  min-height: 320px;
  position: relative;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  padding-right: 9px;
    a {
      white-space: nowrap;
      // color: #b4bd00;
      color: $dj-yellow;
      background-color: #000008;
      // border: 1px groove #b4bd00;
      border: 1px groove $dj-yellow;
      padding: 1px 1px 2px 2px;
      small {
        font-size: 5px;
        font-weight: bold;
      }
      &:hover {
        @include text-hover(#000008, $dj-yellow);
        border-color: #000008;
      }
    }
    img {
      vertical-align: middle;
      width: 100%;
      height: 100px;
      margin-bottom: 6px;
    }
    audio {
      height: 18px;
      width: 99%;
      position: relative;
      box-shadow: 0px 0px 0px 5px #f1f3f4 inset;
      border: 1px groove #b4bd00;      
    }
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      audio, #speed { 
        width: 197px !important;
        -webkit-transform: scale(0.76) translateX(-31px);
      }
    }}
}

.song:first-of-type a {
  padding-right: 17px;
}
.song:nth-of-type(3) a {
  padding-right: 9px;
}
.song:nth-of-type(4) a {
  padding-right: 31px;
} 
.song:nth-of-type(5) a {
  padding-right: 60px;
}
.song:nth-of-type(6) a {
  padding-right: 25px;
}  
         
.controls-bar {
  width: 160px;
  left: -8px;
}


// MEDIA QUERIES -- Smaller
      
@media only screen and (max-width: 972px) {
  .splash-header-container {
    height: 375px;
      .navbar {
        width: 675px;
        nav {
          width: 675px;
        }
      }
      #links {
        font-size: 1em;
        left: unset;
        li {
          width: 75px;
        }
      }
      #logo {
        top: 0;
        width: 80px;
        height: 75px;
      }

    .slide-container {
      height: 375px;
      overflow: hidden;
      #splash-caption {
        font-size: 24px;
        width: 675px;
        h1 {
          width: 675px;
        }
      }
      .react-slideshow-container {
          // height: 375px;
        + div.indicators {
          margin: 0 0 3px 540px !important;
          top: -210px;
        }
      }
      .each-fade {
        .image-container {
          height: 375px;
        }
      }
    }
  }
  .arrow-hold {
    width: 675px;
  }

  

  .main-banner {
    .banner-hold {
      width: 675px;
      .denizen-confidant {
        font-size: 28px;
      }
      .days {
        .day {
          font-size: 10px;
          width: 70px;
          h1 {
            font-size: 28px;
          }
        }
      }
    }
  }
  .denizen-confidant:hover {
    background-position-y: 10px;
  }

  .content {
    .news-banner {
      margin: 0 auto;
      width: 675px;
    }
  }

  .main-news {
    h1 {
        white-space: normal;
        font-size: 36px;
    }
  }
  .newsbar {
    width: 675px;
  } 
  .newslist li {
    width: 162px;
  } 

  .beats-banner {
    margin: 0 auto;
    width: 675px;
  }      
  .beatwrap {
    width: 675px;
  }  
  .song {
    width: 129px;
    a {
      font-size: 10px;
      small {
        font-weight: normal;
      }
    }
  }
  #gesaffelstein-link {
    padding-right: 16px;
  }
  #deadmau5-link {
    padding-right: 0;
  }
  #speed {
    width: 100%;
  }
  #noisuf-link {
    padding-right: 9px;
  }
  #nomana-link {
    padding-right: 28px;
  }
  #kayzo-link {
    padding-right: 45px;
  }
  
}

@media only screen and (max-width: 700px) {
  .splash-header-container {
    .navbar {
      max-width: 560px;
      nav {
        max-width: 560px;
      }
    }
  
    .slide-container {
      .react-slideshow-container + div.indicators {
          right: 5px;
          margin: 0 0 3px 430px !important;
      }
      .react-slideshow-container + div.indicators > .each-slideshow-indicator {
        margin: -21px 3px 10px !important;
      }
    }
  }
  #splash-caption {
    font-size: 20px !important;
    // left: 60px !important;
    max-width: 560px;
    h1 {
      max-width: 560px !important;
    }
  }

  .arrow-hold {
    max-width: 560px;
  }

  .main-banner {
    min-height: 50px;
    .banner-hold {
      max-width: 560px;
      .denizen-confidant {
        font-size: 24px;
      }
      .days {
        .day {
          max-width: 50px;
          height: 50px;
          h1 {
            font-size: 20px;
            padding-left: 15px;
            line-height: 10px;
          }
        }
      }
    }
  }

  .content {
    .news-banner {
      max-width: 560px;
    }
  }

  .main-news h1 {
    font-size: 30px;
  }
  .newsbar {
    max-width: 560px;
  }
  .newslist li {
    max-width: 180px;
  } 

  .beats-banner {
    width: 560px;
  }
  .beatwrap {
    max-width: 560px;
    white-space: normal;
    padding-bottom: 40px;
  }  
  .beatlist {
    margin: 0 auto;
    max-width: 560px;
  } 
  .song {
    min-height: 170px;
    width: 161px;
    margin-right: 25px;
    article {
      width: 170px;
      overflow: hidden;
    }
    img {
      margin-bottom: 2px;
    }
    a {
      padding: 1px 73px 2px 25px;
      // padding-right: 73px !important;
    }
  }

    #gesaffelstein-link {
      padding-left: 29px;
      padding-right: 30px;
    }
    #deadmau5-link {
      // padding-left: 21px;
      padding-right: 16px;
    }
    #noisuf-link {
      padding-left: 26px;
      padding-right: 26px;
    }
    #nomana-link {
      padding-left: 35px;
      padding-right: 36px;
    }
    #kayzo-link {
      padding-left: 48px;
    }
    #prydz-link {
      padding-left: 35px;
      padding-right: 31px;
    }
  
  .song:nth-of-type(3), .song:last-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 560px) {
  .splash-header-container {
    .navbar {
      width: 490px;
      nav {
        width: 490px;
      }
    }
    .slide-container {
      #splash-caption {
        width: 490px;
        h1 {
          width: 490px !important;
        }
      }
      .react-slideshow-container + div.indicators {
          right: 5px;
          margin: 0 0 3px 365px !important;
      }
    }
  }
  .arrow-hold {
    width: 490px;
  }

  .main-banner {
    .banner-hold {
      width: 490px;
    }
  }
  .denizen-confidant:hover {
    background-position-y: 7px;
  }
  .content {
    .news-banner {
      width: 490px;
    }
  }

  .main-news {
    flex-direction: column;
    img {
      width: 100%;
      height: 306px;
    }
    h1 {
      font-size: 24px;
    }
  }
  .main-news-hold {
    margin-top: 0px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column-reverse;
  }
  .newsbar {
    width: 490px;
  }
  .newslist li {
    width: 158px;
  } 
  .newspiece a {
    font-size: 14px;
  }


  .beats-banner {
    width: 490px;
  }
  .beatwrap {
    width: 490px;
  } 
  .beatlist {
    width: 490px;
  } 
  .song {
    margin-right: unset;
    width: 154px;
    article {
      width: 160px;
    }
  }

  #gesaffelstein-link {
    padding-right: 20px;
  }
  #deadmau5-link {
    padding-right: 11px;
    padding-left: 20px;
  }
  #noisuf-link {
    padding-left: 23px;
    padding-right: 18px;
  }
  #nomana-link {
    padding-left: 30px;
    padding-right: 30px;
  }
  #kayzo-link {
    padding-left: 44px;
    padding-right: 40px;
  }
  #prydz-link {
    padding-left: 30px;
    padding-right: 25px;
  }    
}

@media only screen and (max-width: 499px) {
  .splash-header-container {
    .navbar {
      width: 360px;
      nav {
        width: 360px;
      }
    }
    #links {
      width: 240px;
      li a {
        padding-right: unset;
        display: inline-block;
        width: 100%;
      }
      li {
        padding-left: unset;
        &:nth-of-type(4):active {
          margin-top: 2px;
        }
      }
    }

    // .show-search {
    //   padding-right: 2px;
    // }
     .slide-container {
      #splash-caption {
        width: 360px;
        h1 {
          width: 360px !important;
          font-size: 18px;
        }
      }
      .react-slideshow-container + div.indicators {
          right: 5px;
          margin: 0 0 3px 240px !important;
      }
    }
  }
  .arrow-hold {
    width: 360px;
  }
  
  .main-banner .banner-hold {
    width: 360px;
    .days {
      // border-right: unset;
      .day {
        max-width: 40px;
        padding-left: 4px;
        h1 {
          padding-left: 10px;
        }
      }
    }
    .denizen-confidant {
      font-size: 19px;
    }
  }
  .content .news-banner {
    width: 360px;
  }
  .newsbar {
    width: 360px;
  }
  .newslist li {
    width: 175px;
    min-height: 260px;
  }
  #nahuel-pre {
    width: 178px;
  }
  #nahuel {
    width: 180px;
    object-fit: unset;
  }
  .news-img-frame {
    display: block;
    width: 180px;
    height: 100px;
    background-size: cover;
    color: transparent;
  }
  #berghain-frame {
    background-image: image_url('berghain.jpg');
  }
  #coronavirus-frame {
    background-image: image_url('caprices.jpg');
  }

  .beats-banner {
    width: 360px;
  }
  .beatwrap {
    width: 360px;
  }
  .beatlist {
    width: 360px;
  }
  .song {
    margin-right: 17px !important;
    audio, #speed { 
        // width: 197px !important;
        height: 32px;
        width: 205px !important;
        margin-top: 4px;
        -webkit-transform: scale(0.76) translateX(-27px) !important;
        border: unset;
        box-shadow: unset;
      }
      @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      audio, #speed { 
        // width: 197px !important;
        height: 32px;
        width: 205px !important;
        margin-top: 4px;
        -webkit-transform: scale(0.76) translateX(-27px) !important;
        border: unset;
        box-shadow: unset;
      }
    }}
  }
}



// MEDIA QUERIES -- Enlarge
@media only screen and (min-width: 1240px) {
  .splash-header-container {
    .slide-container {
      width: 100%;
      height: 575px;
      overflow: hidden;
      .each-fade {
        position: relative;
        // top: -130px;
        // height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {

  .splash-header-container {
    .navbar #links {
      left: unset;
    }
    .navbar {
      width: 1272px;
      nav {
        width: 1272px;
      }
    }
  }
  .arrow-hold {
    width: 1272px;
  }
  #splash-caption {
    width: 1272px;
    h1 {
      width: 1272px;
    }
  }
  .react-slideshow-container + div.indicators {
    margin-left: 1120px !important;
  }

  .banner-hold {
    width: 1272px;
  }
  .content {
    .news-banner, .articles {
        width: 1272px;
    }
  }
  .newsbar {
    width: 1272px;
  }
  .newslist {
    display: flex;
    justify-content: space-between;
  }
  .newslist li {
    width: 182px;
  }
  .main-news h1 {
    font-size: 40px;
  }
  .beats {
    .beats-banner, .beatwrap {
      width: 1272px;
    }
    .beatwrap .beatlist {
      display: flex;
      justify-content: space-between;
    }
    .song {
      width: 166px;
      padding-right: unset;
      // margin-right: 16px;
      a {
        padding: 1px 15px 2px 2px;
      }
      img {
        height: 105px;
        margin-bottom: 3px;
      }
    }
  }
  #gesaffelstein-link {
    padding-right: 30px;
  }
  #noisuf-link {
    padding-right: 22px;
  }
  #nomana-link {
    padding-right: 45px;
  }
  #kayzo-link {
    padding-right: 73px;
  }
  #prydz-link {
    padding-right: 39px;
  }
}

