.splash-header-container {
  position: relative;
  background-image: image_url("red-rave.png");
  background-repeat: no-repeat;
  background-size: 1565px;
  background-position: center;
  background-position-x: 1px;
  height: 575px;
  width: 100%;

  #links {
    position: absolute;
    top: 24px;
    left: 490px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    color: white;
  }
}

#logo {
  position: absolute;
  left: 161px;
  top: -3px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(7px -2px 7px #2e2e2e);
  z-index: 1000;
}

#logo:hover {
  filter: invert(1) drop-shadow(-14px 5px 5px white);
}

#splash-navbar {
  background-image: image_url("logo.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: 168px;
}



#berlin-rave {
  width: 100%;
  height: 575px;
  filter: contrast(0.8);
}

.splash-content-container {
  position: relative;
  background-color: #595959;
  border-bottom: 1px #7a7a7a solid;
  height: 500px;
  // background-image: image_url("logo.png");
}

.main-banner {
  // background-image: image_url("logo.png");
  // background-repeat: no-repeat;
  // background-size: 100px;
  // background-position-x: 168px;
  position: absolute;
  top: -4px;
  width: 100%;
  background-color: #b3be1b;
  color: white;
  height: 70px;
}

.denizen-confidant {
  position: absolute;
  left: 160px;
  top: 15px;
  font-size: 36px;
  // font-weight: bold;
  letter-spacing: -1px;
}

.denizen-confidant:hover {
  opacity: 80%;
  // font-weight: bold;
  color: #ff0;
  color: #2e2e2e;
  background-image: image_url("ravve.png");
  cursor: image_url("vinyl-record2.png"), auto;
  background-size: 15%;
  // background-position: center;
  background-repeat: no-repeat;
  background-position-x: -3.9px;
  background-position-y: 10px;
  filter: drop-shadow(2px 4px 6px black);  
} 

.main-banner h1:first-letter:hover {
   font-weight: bold;
   font-size: 50px;
}

.days {
  display: flex;
  position: absolute;
  right: 165px;
  border-right: 1px solid white;

    .day {
      line-height: 31px;
      font-size: 12px;
      box-sizing: border-box;
      padding-left: 11px;
      border-left: 1px solid white;
      width: 80px;
      height: 70px;
    }

    :nth-of-type(3) {
      background-color: white;
      color: black;
    }

    h1 {
      font-size: 36px;
      padding-left: 19px;
      line-height: 13px;
    }

    :hover {
      background-color: black;
      color: white;
    }
} 

#splash-caption, #neon-caption {
  position: absolute;
  bottom: 290px;
  left: 159px;
  color: white;
  font-size: 35px;

    :last-child {
      opacity: 70%;
    }
}

#neon-caption {
  left: 520px;
  bottom: 242px;
}

// .image-slider {
//   position: absolute;
//   top: 70px;
//   display: block;
//   margin: 0px;
//   padding: 0px;
//   border: 0px;
//   overflow: hidden;
//   width: 896px;
//   height: 503px;
//   background: rgb(0, 0, 0);
// }

.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}

.slide-container {
  width: 100%;
  margin: auto; }
 
h3 {
  text-align: center; }
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}
 
.each-slide span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
 
.each-fade {
  //  width: 1420px;
  height: 571px;
  display: flex;

  .image-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -119px;

    img {
      width: 100%;
    }
  }

  img:first-of-type {
    float: inline-start;
  }

}

 
.each-fade h2 {
  bottom: 84px;
  color: yellow;
  position: absolute;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #adceed;
}

 .react-slideshow-container .nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 35px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-slideshow-container {
  display: flex;
  align-items: center;
}

.react-slideshow-container .nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-slideshow-container .nav span {
  display: block;
  width: 10px;
  height: 10px;
  border-color: #000;
  border-style: solid;
  transform: rotate(45deg);
}

.react-slideshow-container .nav.disabled span {
  border-color: #666;
}

.react-slideshow-container .nav:hover {
  background: white;
  color: #666;
}

.react-slideshow-container .nav.disabled:hover {
  cursor: pointer;
}

.react-slideshow-container .nav:first-of-type {
  position: absolute !important;
  opacity: 30% !important;
  left: 121px !important;
  margin-right: -30px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:first-of-type span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:last-of-type {
  margin-left: -147px !important;
  opacity: 30% !important;
}

.react-slideshow-container .nav:last-of-type span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}

.react-slideshow-container + div.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15px !important;
  margin-left: 787px !important;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator {
  opacity: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: -21px 5px 10px !important;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  z-index: 1000 !important;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator:hover {
  background: #666;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator.active {
  opacity: 100% !important;
  background: white !important;
}

