// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile {
  #nav-container {
    height: 215px;
  }
  .navbar {
    height: 180px;
  }
}

.user-subheader-container {
  background-color: #3c3c3c;
  .user-subheader {
    width: 960px;
    margin: 0 auto;
    .details {
      display: flex;
      li {
          text-align: left;
          font-weight: normal;
          // color: #ffa100;
          color: white;
          font-size: 16px;
          padding: 16px 0;
          margin-right: 180px;
        small {
          color: #b4b4b4;
          font-size: 12px;
        }
        strong {
          font-size: 18px;
          line-height: 1em;
        }
      }
      li:last-of-type {
        // color: white;
        color: #ffa100;
      }
    }
  }
}

.user-main {
  // height: 76px;
  border-bottom: 1px #585858 solid;
  padding: 40px 0;
  position: relative;
  z-index: 1000;
}

.year-month {
  display: flex;
  margin-bottom: 60px;
  li {
    margin-right: 4px;
  }
  span {
    padding: 8px 36px 8px 16px;
    font-size: 36px;
    background-color: #ffa200;
  }
}

.cal-bg {
   background: #404040;
  //  padding: 70px 0;
}

#calendar-toggle {
  cursor: pointer;
}

.calendar {
  width: 960px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: none;
}
.weekdays {
  color: #9c9c9c;
  text-align: left;
  th {
    font-size: 1em;
    font-weight: normal;
    padding: 0 0 4px 8px;
  }
}
.cal-day {
  font-size: 1em;
  padding-bottom: 32px;
  box-sizing: border-box;
  color: #ffa200;
  margin: 2px;
  background-color: #2e2e2e;
  border: 2px solid #222;
  &:hover {
    background-color: black;
  }
  b {
    color: #fff;
    font-size: 3em;
    padding-left: 8px;
    display: block;
    font-weight: normal;
  }
  hr {
    border: 1px solid;
    // padding: 4px 0 0 0;
  }
} 
#offDay {
  color: #787878;
  background: #3c3c3c;
  b {
    color: #787878;
  }
  .event-space {
    display: none;
  }
}
.event-space {
  // position: absolute;
  display: flex;
  flex-direction: column;
  .eventName {
    display: inline-block;
  }
  h1, a {
    text-indent: 1px;
  }
  h2 {
    text-indent: 2px;
    color: #9c9c9c;
    position: relative;
    // bottom: 6px;
  }
  img {
    // display: none;
    width: 152px;
    height: 76px;
    color: transparent;
  }
}
.hasEvent {
  height: 235px;
  width: 166px;
  img {
    background-image: image_url('rave.jpg');
    background-size: cover;
  }
}
.week, .eventWeek {
  vertical-align: super;
}

#sun, #thu, #fri {
  width: 160px;
}
#mon, #tue {
  width: 107px;
}
#wed {
  width: 106px;
}
#sat {
  width: 152px;
}

.monthToggle-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.monthToggle {
  float: right;
  width: 320px;
  padding: 20px 0;
  button {
    height: 30px;
    text-align: left;
    box-sizing: border-box;
    background-color: #ffa200;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
#prevMonth {
  width: 154px;
  margin-right: 2px;
  padding-left: 6px;
  &:before {
    content: "⬅︎";
    position: relative;
    bottom: 1px;
    margin: 12px;
    font-size: 12px;
  }
}
#nextMonth {
  width: 164px;
  padding-left: 35px;
  padding-right: 12px;
  &:after {
    content: "➡︎";
    position: relative;
    bottom: 1px;
    float: right;
    // margin: 6px;
    font-size: 12px;
  }
}

// Create Event Form

.create-event {
  border-bottom: 1px solid #575757;
  .navbar {
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      line-height: unset;
      height: unset;
      width: unset;
      margin: unset;
    }
  }
}

.eventform-header {
  #prev {
    width: 20px;
    filter: invert(1);
    position: relative;
    top: 4px;
  }
  a:hover {
    filter: invert(1);
  }
}


.event-form-container {
  background-color: #404040;
  label {
    color: white;
  }
  input {
    color: black;
    box-sizing: border-box;
    padding-left: 4px;
    height: 30px;
  }
  small {
    color: #9c9c9c;
    font-size: 12px;
    white-space: nowrap;
  }
  strong {
    color: #ffa000;
    i {
      color: #9c9c9c;
      font-style: normal;
    }
  }
}

.new-event-formlist {
  margin: 24px 0;
  li {
    
  }
}

.text-input {
  width: 464px;
  height: 30px;
  border-radius: 2px;
  -webkit-appearance: auto;
}
#name-input:focus {
  outline: -webkit-focus-ring-color auto 1px;
}
#date-input {
  width: 178px;
}

#location-select {
  width: 178px;
  height: 30px;
  -webkit-appearance: auto;
  font-size: 16px;
  background-color: white;
  margin-right: 5px;
  box-sizing: border-box;
  padding-left: 2px;
}
#venue-input {
  border-radius: 0;
  box-sizing: border-box;
  padding-left: 10px;
}
#description-input {
  height: 52px;
  color: black;
  box-sizing: border-box;
  padding-left: 4px;
}

#submit-event {
  background-color: #ffa100;
  width: 304px;
  height: 30px;
  text-align: center;
}
#submit-event:hover {
  background-color: black;
  color: white;
}

.event-form {
  width: 570px;
  display: flex;
  justify-content: space-between;
}

.event-input-hold {
  display: flex;
}
#external {
  width: 312px;
}

#preview-frame {
  display: flex;
  flex-direction: column-reverse;
  img {
    border: 18px solid #4d4c4c;
    border-radius: 4px;
  }
}

.event-errors, #success-msg {
  color: white;
  margin-top: 91px;
  white-space: nowrap;
}
#success-msg {
  margin-left: 36px;
}


// Update Event Form

i {
  font-style: italic;
}

#update-event {
  .reveal li:first-child {
    border-bottom: 1px solid #454545;
  }
  #expand {
    height: 97px;
  }
}

.prev-hold {
  display: flex;
  align-items: flex-end;
}

.eventform-subheader-container {
  background-color: #2f2f2f;
  border-bottom: 1px solid #585858;
}
.eventform-subheader {
  width: 960px;
  height: 116px;
  margin: 0 auto;
  .details {
    display: flex;
    li {
      color: white;
      text-align: left;
      font-weight: normal;
      font-size: 24px;
      padding: 16px 0;
      margin-right: 180px;
      small {
        color: #b4b4b4;
        font-size: 12px;
      }
    }
  }
}

.update-event-form {
  // padding: 24px 0;
  width: 624px;
  small {
    color: #b4b4b4;
  }
  li {
    margin: 24px 0;
  }
  hr {
    border-color: grey;
  }
  input, textarea {
    box-sizing: border-box;
    padding: 4px;
    color: black;
  }
  // ::placeholder {
  //   color: black;
  // }
  #submit-event {
    height: 34px;
    margin-bottom: 36px;
  }
}
.input-hold {
  display: flex;
  label {
    color: white;
  }
  b {
    color: white;
    padding: 22px 8px;
  }
}
.update-input {
  width: 280px;
  height: 30px;
  box-sizing: border-box;
  padding: 4px;
}

.file-input {
  color: #b4b4b4 !important;
  padding-left: unset !important;
}

#update-venue {
  display: flex;
  flex-direction: column;
  span {
    color: white;
    strong {
      font-size: 18px;
    }
  }
}

#date-notice {
  color: white;
}

#update-headliners {
  height: 152px;
  width:100%;
}

#update-description {
  height: 248px;
  width: 100%;
}

// User Events Index

#user-events {
  // border-bottom: 0.1px solid #585858;
  .user-subheader {
    height: 98px;
  }
  .user-subheader-container {
    background-color: #2f2f2f;
    border-bottom: 0.1px solid #585858;
    .details li {
      color: white;
    }
  }
  #expand {
    height: 137px;
  }
}

.my-events {
  border-bottom: 0.1px solid #585858;
  min-height: 166px;
  box-sizing: border-box;
  padding: 20px 0;
  h1 {
    color: white;
    padding: 4px 0;
  }
}
#myevents-header {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  #submit-event {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#myevents-list {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top:20px;
}

.user-event {
  display: flex;
  justify-content: space-between;
  height: 63px;
  border-bottom: 1px solid #5d5b5b;
  border-top: 1px solid #5d5b5b;
  padding: 4px 0;
  background-color: #404040;
}

#myevent-date {
  font-size: 24px;
}

.myevent-details {
  color: #9c9c9c;
  small {
    color: #9c9c9c;
  }
  strong {
    color: #ffa200;
  }
  a:hover {
    color: #404040;
    background-color: #ffa200;
  }
}

.manage-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffa200;
  box-sizing: border-box;
  padding: 4px 14px;
  white-space: nowrap;
  a:hover {
    color: #404040;
    background-color: #ffa200;
  }
}
#delete-event {
  background-color: #404040;
  text-align: center;
  width: 100%;
  &:hover {
    background-color: #080808;
    color: #f8a102;
    transition: .1s ease-in-out;
  }
}
// .confirm {
//   display: none;
//   font-size: 14px;
//   float: right;
// }

.confirm {
  display: none;
  width: fit-content;
  font-size: 14px;
  padding: 12px;
  background-color: #404040;
  border-radius: 4px;
  border: 1px solid #5e5e5e;
  opacity: 0.9;
  position: relative;
  left: 639px;
  top: 10px;
  h1 {
    // color: #ffa200;
    color: white;
    margin: 12px;
  }
  span {
    color: #ffa200;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    button {
      color: #8a8787;
      background-color: transparent;
      &:hover {
        color: #ffa200;
        transition: color .3s ease-in-out;
      }
      &:active {
        font-size: 14px;
        transition: .3s ease-in-out;
      }
    }
  }
}

@media only screen and (max-width: 972px) {
  .user-profile {
    #nav-container {
      height: 160px;
    }
    .navbar {
      height: 140px;
    }
  }
 .user-subheader-container {
    position: relative;
    z-index: 100;
    .user-subheader {
      width: 675px;
      .details {
        white-space: nowrap;
        justify-content: space-between;
        width: 630px;
        li {
          margin-right: unset;
        }
      }
    }
  }
  .calendar {
    width: 675px;
  }
  .hasEvent{
    // width: 240px;
    width: 130px;
    height: 225px;
    .event-space {
      font-size: 14px;
      img {
        width: 144px;
      }
    }
  }

  .monthToggle-wrap {
    width: 675px;
  }


   #myevents-header {
    width: 675px;
    justify-content: normal;
    #submit-event {
      margin-left: 88px;
    }
  }
  #myevents-list {
    width: 675px;
  }
  .user-event {
    width: 632px;
  }
  .confirm {
    left: 350px;
    font-size: 12px;
  }

  .create-event {
    #nav-container {
      height: 180px;
    }

    .navbar {
      height: 180px;
      h1 {
        right: unset;
      }
    }
  }
  .eventform-header {
    position: relative;
  }
  .eventform-subheader {
    width: 675px;
    height: 146px;
  }

  .event-form {
    flex-direction: column;
    width: unset;
  }
  .event-errors {
    margin: 40px 0;
  }
}

@media only screen and (max-width: 700px) {

  .user-subheader-container {
    .user-subheader {
       width: 560px;
      .details {
        white-space: nowrap;
        width: 560px;
      }
    }
  }

  .calendar {
    width: 560px;
  }
  .cal-day b {
    font-size: 2em;
  }
  .hasEvent {
    width: 150px;
    height: 210px;
  }
  .monthToggle-wrap {
    width: 560px;
  }
  .monthToggle {
    width: 220px;
  }
  #prevMonth, #nextMonth {
    width: 109px;
  }
  #prevMonth {
    padding-left: 0;
  }

  #myevents-header {
    width: 560px;
  }
  #myevents-list {
    width: 560px;
  }
  .user-event {
    width: 560px;
  }
  .confirm {
    left: 278px;
  }

  .create-event {
    #nav-container {
      height: 148px;
    }
    .navbar {
     height: 140px;
     h1 {
       font-size: 36px;
     }
    }
    .form-wrap {
      width: 560px;
    }
  }
  .eventform-header {
    right: unset;
  }
  .eventform-subheader {
    width: 560px;
  }
  .update-event-form {
    width: 590px;
  }
  .event-input-hold {
    flex-direction: column;
  }
}

@media only screen and (max-width: 620px) {
  .update-event-form {
    width: unset;
  }
  .input-hold {
    display: block;
  }
  #update-venue {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .user-subheader-container {
    .user-subheader {
       width: 490px;
      .details {
        white-space: nowrap;
        width: 490px;
      }
    }
  }
  .calendar {
    width: 490px;
  }
  .hasEvent {
    width: 150px;
    height: 190px;
    .event-space {
      font-size: 12px;
      white-space: nowrap;
      a {
        line-height: 1.5em;
      }
      img {
        width: 120px;
      }
      h2 {
        bottom: 4px;
      }
    }
  }
  .monthToggle-wrap {
    width: 490px;
  }

  #myevents-header {
    width: 490px;
  }
  #myevents-list {
    width: 490px;
  }
  .user-event {
    width: 490px;
  }
  .confirm {
    left: 208px;
  }

  .create-event {
    .form-wrap {
      width: 490px;
    }
  }
  .eventform-subheader {
    width: 490px;
  }
  #img-notice {
    font-size: 11px;
  }
}

@media only screen and (max-width: 499px) {
  .user-subheader-container {
    .user-subheader {
       width: 360px;
      .details {
        white-space: nowrap;
        width: 360px;
        li {
          font-size: 14px;
        }
      }
    }
  }

  table.calendar {
    table-layout: fixed;
    width: 100%;
  }

  $days: (sun, mon, tue, wed, thu, fri, sat);
  @each $day in $days {
    ##{$day} {
      width: 25%;
    }
  }
 

  .event-space {
    font-size: 8px;
    white-space: normal;
    img {
      width: 100%;
      height: auto;
    }
    a {
      line-height: 1.3em;
      text-indent: unset;
    }
    h2 {
      font-size: 6px;
      text-indent: unset;
    }
  }

  .calendar {
    width: 360px;
  }

  .cal-day {
    // padding-bottom: 20px;
    padding-bottom: 10px;
    b {
      font-size: 1em;
    }
  }
  .monthToggle-wrap {
    width: 360px;
  }
  .monthToggle {
    width: 200px;
  }
  #prevMonth {
    width: 99px;
    &:before {
      margin: 8px;
    }
  }
  #nextMonth {
    width: 99px;
    padding-left: 30px;
  }
  // .hasEvent {
  //   width: 110px;
  //   height: 160px;
  //   .event-space {
  //     font-size: 10px;
  //     img {
  //       width: 100px;
  //     }
  //   }
  // }

  #myevents-header {
    width: 360px;
    justify-content: space-between;
    h1 {
      font-size: 14px;
    }
    #submit-event {
      width: 140px;
      margin-left: unset;
    }
  }
  #myevents-list {
    width: 360px;
  }
  .myevent-details, .manage-event {
    font-size: 12px;
  }
  #delete-event {
    text-align: right;
    width: unset;
    float: right;
  }
  .user-event {
    width: 360px;
  }
  .confirm {
    left: 88px;
    height: 80px;
    margin-bottom: 10px;
    h1 {
      margin: 6px;
    }
  }

  .create-event {
    .form-wrap {
      width: 360px;
    }
  }
  .text-input {
    width: 350px;
  }
  .eventform-header {
    #prev {
      width: 16px;
    }
  }
  .prev-hold {
    font-size: 12px;
  }
  #description-msg {
    white-space: normal;
  }
  .eventform-subheader {
    width: 360px;
    height: 80px;
    .details {
      li {
        padding: 12px 0;
        margin-right: unset;
        font-size: 16px;
      }
    }
  }
  #img-notice {
    font-size: 11px;
  }
}

// Larger

@media only screen and (min-width: 1300px) {
  .user-subheader-container {
    .user-subheader {
        width: 1272px;
    }
  }
  .calendar {
    width: 1272px;
  }
  .hasEvent {
    .event-space {
      font-size: 20px;
      img {
        width: 100%;
        height: 100px;
      }
    }
  }
  .monthToggle-wrap {
    width: 1272px;
  }
  .monthToggle {
    width: 419px;
  }
  #prevMonth, #nextMonth {
    width: 208px;
  }

  #myevents-header {
    width: 1272px;
  }
  #myevents-list {
    width: 1272px;
  }
  .manage-event {
    margin-right: 312px;
  }
  .confirm {
    // left: 735px;
    left: 708px;
  }
  .eventform-subheader {
    width: 1272px;
  }
}