// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile {
  #nav-container {
    height: 215px;
  }
  #navbar h1 {
    line-height: 2em;
  }
}

.user-subheader-container {
  background-color: #3c3c3c;
  .user-subheader {
    
    width: 960px;
    margin: 0 auto;
    .details {
      display: flex;
      li {
          text-align: left;
          font-weight: normal;
          color: #ffa100;
          font-size: 16px;
          padding: 16px 0;
          margin-right: 180px;
        small {
          color: #b4b4b4;
          font-size: 12px;
        }
        strong {
          font-size: 18px;
          line-height: 1em;
        }
      }
      li:first-of-type {
        color: white;
      }
    }
  }
}

#user-events {
  // border-bottom: 0.1px solid #585858;
  .user-subheader {
    height: 98px;
  }
  .user-subheader-container {
    background-color: #2f2f2f;
    border-bottom: 0.1px solid #585858;
    .details li {
      color: white;
    }
  }
}

.my-events {
  border-bottom: 0.1px solid #585858;
  min-height: 166px;
  box-sizing: border-box;
  padding-top:20px;
  h1 {
    color: white;
  }
}
#myevents-header {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  #submit-event {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#myevents-list {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top:20px;
}


@media only screen and (max-width: 972px) {
  .user-profile {
    #nav-container {
      height: 160px;
    }
    #navbar h1 {
      line-height: 3em;
    }
  }
 .user-subheader-container {
    position: relative;
    z-index: 100;
    .user-subheader {
      width: 675px;
      .details {
        white-space: nowrap;
      }
    }
  }
   #myevents-header {
    width: 675px;
    justify-content: normal;
    #submit-event {
      margin-left: 88px;
    }
  }
  #myevents-list {
    width: 675px;
  }
}

@media only screen and (max-width: 700px) {

  .user-subheader-container {
    .user-subheader {
       width: 560px;
      .details {
        white-space: nowrap;
      }
    }
  }
   #myevents-header {
    width: 560px;
  }
  #myevents-list {
    width: 560px;
  }
}

@media only screen and (max-width: 560px) {

  .user-subheader-container {
    .user-subheader {
       width: 490px;
      .details {
        white-space: nowrap;
      }
    }
  }
   #myevents-header {
    width: 490px;
  }
  #myevents-list {
    width: 490px;
  }
}

// Larger

@media only screen and (min-width: 1300px) {
  .user-subheader-container {
    .user-subheader {
        width: 1272px;
    }
  }
  #myevents-header {
    width: 1272px;
  }
  #myevents-list {
    width: 1272px;
  }
}